@model WMS.Models.LvShort

@{
    ViewBag.Title = "Delete";
}

<h3>Are you sure you want to delete this short leave?</h3>


<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Emp No
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Emp.EmpNo)
        </dd>

        <dt>
            Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Emp.EmpName)
        </dd>

        <dt>
            Designation
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Emp.Designation.DesignationName)
        </dd>

        <dt>
            Date
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DutyDate)
        </dd>
         <dt>
            Starting Time
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SHour)
        </dd>
         <dt>
            Ending Time
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EHour)
        </dd>
         <dt>
            Total Time
        </dt>

        <dd>
            @Html.DisplayFor(model => model.THour)
        </dd>
         <dt>
            Remarks
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Remarks)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="btn btn-default btn-danger"/> 
                    @Html.ActionLink("Back to List", "Index",null,new { @class = "btn btn-primary " })
             
                </div>
            </div><hr /> 
        </div>
       <hr />
    }
</div>
