@model WMS.Models.LvShort

@{
    ViewBag.Title = "Details";
}

<h2>Short Leave Detail</h2>

<div>
    
	<hr />
    <dl class="dl-horizontal">
        <dt>
            Emp No
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Emp.EmpNo)
        </dd>

        <dt>
            Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Emp.EmpName)
        </dd>

        <dt>
            Designation
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Emp.Designation.DesignationName)
        </dd>

        <dt>
            Date
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DutyDate)
         
        </dd>
         <dt>
            Starting Time
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SHour)
        </dd>
         <dt>
            Ending Time
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EHour)
        </dd>
         <dt>
            Total Time
        </dt>

        <dd>
            @Html.DisplayFor(model => model.THour)
        </dd>
         <dt>
            Remarks
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Remarks)
        </dd>
      <br />
        <dd>
            @*@Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ },new { @class = "btn btn-warning" })*@ 
            @Html.ActionLink("Back to List", "Index",null,new { @class = "btn btn-primary" })
        </dd>
      
    </dl>

</div>