@model WMS.Models.Department

@{
    ViewBag.Title = "Edit";
}

<h2>Edit Department</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
    
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.DeptID)

        <div class="form-group">
           <div class="control-label col-md-2">Department</div>
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.DeptName,new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.DeptName)
            </div>
        </div>

       

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default btn-success" />
              @Html.ActionLink("Back to List", "Index",null,new { @class = "btn btn-primary " })
            </div>
        </div>
    </div>
}

<script src="@Url.Content("~/Scripts/HR/DivisionCompany.js")"></script>