@model WMS.Models.Holiday

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Holiday</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            <div class="control-label col-md-2">Date</div>
            <div class="col-md-3">
                @Html.EditorFor(model => model.HolDate)
                @Html.ValidationMessageFor(model => model.HolDate)
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2">Description</div>
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.HolDesc, new { @class = "form-control"})
                @Html.ValidationMessageFor(model => model.HolDesc)
            </div>
        </div>

         <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default btn-success" />
                 @Html.ActionLink("Back to List", "Index",null,new { @class = "btn btn-primary " })
             </div>
        </div>
    </div>
}
