@model WMS.Models.Holiday

@{
    ViewBag.Title = "Create";
}

 <h2>Create Holiday</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    <div class="well bs-component">
        <form class="form-horizontal" action="~/Views/Holiday/Create" enctype="multipart/form-data" method="post">
             @Html.AntiForgeryToken()
            <fieldset>
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            <label class="control-label col-md-2">Date</label>          
           <div class="col-md-3">
                @Html.EditorFor(model => model.HolDate)
                @Html.ValidationMessageFor(model => model.HolDate)
            </div>
        </div>

        <div class="form-group">
             <label class="control-label col-md-2">Description</label>         
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.HolDesc, new { @class = "form-control"})
                @Html.ValidationMessageFor(model => model.HolDesc)
            </div>
        </div>

         <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default btn-success" />
                 @Html.ActionLink("Back to List", "Index",null,new { @class = "btn btn-primary " })
             </div>
        </div>
    </div>
                </fieldset>
            </form>
        </div>
}
