@model WMS.Models.Holiday

@{
    ViewBag.Title = "Holiday Edit";
}

<h2>Edit Holiday</h2>

@using (Html.BeginForm())
{
     <div class="well bs-component">
        <form class="form-horizontal" action="~/Views/Holiday/Edit" enctype="multipart/form-data" method="post">
             @Html.AntiForgeryToken()
            <fieldset>
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.HolID)

        <div class="form-group">
           <lable class="control-label col-md-2">Date</lable>
            <div class="col-md-3">
                @Html.EditorFor(model => model.HolDate)
                @Html.ValidationMessageFor(model => model.HolDate)
            </div>
        </div>

        <div class="form-group">
           <lable class="control-label col-md-2">Description</lable>
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.HolDesc, new { @class = "form-control"})
                @Html.ValidationMessageFor(model => model.HolDesc)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default btn-success" />
              @Html.ActionLink("Back to List", "Index",null,new { @class = "btn btn-primary " })
            </div>
        </div>
    </div>
                </fieldset>
            </form>
         </div>
}

