@model WMS.Models.JobCardApp

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>JobCardApp</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateCreated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateStarted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateStarted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateEnded)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateEnded)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CardType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CardType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JobCardCriteria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobCardCriteria)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CriteriaData)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CriteriaData)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeIn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeIn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeOut)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeOut)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WorkMin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkMin)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.JobCardID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
