@*@model IEnumerable<WMS.Models.JobCardApp>*@

@model PagedList.IPagedList<WMS.Models.EmpView>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Job Card";
}
<article class="row">
    <h2>Assign Job Card</h2>
            <h5>@Html.ActionLink("List of Job Cards", "JobCardList",null,new { @class = "" })</h5><hr/>
<section class="col-md-1"></section>
     <section class="col-md-4 col-sm-4">
        @using (Html.BeginForm("EditAttJobCard", "JobCard", FormMethod.Post))
        {
        <div class="form-horizontal">
        <div class="form-group">
            <label class="control-label col-md-4">From<span style="color:red;"> *</span></label>
            <div class="col-md-8">
                <input id="JobDateFrom" name="JobDateFrom" value="@ViewData["JobDateFrom"]" type="date" class="form-control"/>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-4">To<span style="color:red;"> *</span></label>
            <div class="col-md-8">
                <input id="JobDateTo" name="JobDateTo" type="date" value="@ViewData["JobDateTo"]" class="form-control"/>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-4">Card<span style="color:red;"> *</span></label>
            <div class="col-md-8">
                @Html.DropDownList("JobCardType",null,new { @class = "btn btn-default dropdown-toggle dropdown ComboBoxWidthJobCard"})
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-4"></label>
            <div class="col-md-8">
               <div class="radio"><label><input type="radio" checked value="ByEmployee" name="CreateJCCriteria">By Employee</label></div>
                <div class="radio"><label><input type="radio" value="ByCrew" name="CreateJCCriteria">By Crew</label></div>
            </div>
        </div>
        <div class="form-group" id="EmpNoDiv">
            <label class="control-label col-md-4">Emp No<span style="color:red;"> *</span></label>           
            <div class="col-md-8">
                <input id="JobEmpNo" name="JobEmpNo" type="text" class="form-control" onchange="checkInput(this);"/>
            </div>
           <input type='button' id="buttonId" name="buttonId" value="Search" style="margin-left:37%;margin-top:3%" class="btn btn-info"/>​
        </div>
        <div class="form-group" id="CrewDiv">
            <label class="control-label col-md-4">Crew<span style="color:red;"> *</span></label>
            <div class="col-md-8">
                @Html.DropDownList("CrewID",null,new { @class = "btn btn-default dropdown-toggle dropdown ComboBoxWidthJobCard"})
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-4">Remarks<span style="color:red;"> *</span></label>
            <div class="col-md-8">
                <input id="Remakrs" name="Remakrs" type="text" class="form-control"/>
            </div>
        </div>
        <p class="ErorrMessage">@ViewBag.CMessage</p>
        <div class="form-group">
            <label class="control-label col-md-4"></label>
            <div class="col-md-8">
                 <input type="submit" value="Save"  class="btn btn-sm btn-success"/>
            </div>
        </div>
        </div>
        }
    </section>
<section class="col-md-4" style="height:620px;">
            <div class="form-horizontal">
              <div style="margin-top:10px"> 
                <h5>Emp Name</h5>
                <input "form-control col-md-10 btn btn-default" type="text" id="EName" />
              </div>                
             <div style="margin-top:10px">
                <h5>Designation</h5>
                <input "form-control col-md-10 btn btn-default" type="text" id="EDesignation" />
             </div>
             <div style="margin-top:10px">
                <h5>Section</h5>
                <input "form-control col-md-10 btn btn-default" type="text" id="ESection" />
            </div>             
           </div>
    </section>
<script src="@Url.Content("~/Scripts/EditAttendance.js")"></script>
    <script src="@Url.Content("~/Scripts/JobCard.js")"></script>
<script src="~/Scripts/LoadEmpInfoJC.js" type="text/javascript"></script>
</article>


@*<script type="text/javascript">
    $(document).ready(function () {
        $('#buttonId').click(function () {
            var empNo = document.getElementById("JobEmpNo").value;
            //var URL = '/WMS/LvApp/GetEmpInfo';
            var URL = '/PPAF/Emp/GetEmpInfo';
            $.getJSON(URL, { empNo: empNo }, function (data) {
                var values = data.split('@');
                document.getElementById("EName").value = values[0];
                document.getElementById("EDesignation").value = values[1];
                document.getElementById("ESection").value = values[2];

            });
        });
    });
    
</script>*@