@model WMS.Models.RosterDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>RosterDetail</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DutyCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DutyCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DutyTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DutyTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WorkMin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkMin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Remarks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Remarks)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompanyID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OpenShift)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OpenShift)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RosterDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RosterDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RosterApp.RosterCriteria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RosterApp.RosterCriteria)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CriteriaValueDate }) |
    @Html.ActionLink("Back to List", "Index")
</p>
