@model IEnumerable<WMS.Models.RosterDetail>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DutyCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DutyTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WorkMin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Remarks)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompanyID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OpenShift)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RosterDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RosterApp.RosterCriteria)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DutyCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DutyTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WorkMin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Remarks)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CompanyID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OpenShift)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RosterDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RosterApp.RosterCriteria)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CriteriaValueDate }) |
            @Html.ActionLink("Details", "Details", new { id=item.CriteriaValueDate }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CriteriaValueDate })
        </td>
    </tr>
}

</table>
