@model WMS.Models.Reader

@{
    ViewBag.Title = "Details";
}
<style>  
 dd,dt {
    margin-bottom: 5px;
}
</style>
<div>
      <form class ="form-inline" role="form">
          <div class="form-group "> <h2>Reader Detail</h2> </div>
      </form>  
</div>
 <hr />
<div>
	
    <dl class="dl-horizontal">
        <dt>
            Reader Name:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RdrName)
        </dd>

        <dt>
            IP Address:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IpAdd)
        </dd>

        <dt>
            IP Port:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IpPort)
        </dd>

        <dt>
            Status:
        </dt>

        <dd>
             @if (Model.Status == true)
                    {
                        <p>Active</p>
                    }
                    else
                    {
                         <p>Inactive</p>
                    }
        </dd>

        <dt>
            Location:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location.LocName)
        </dd>
        <dt>
            Site:
        </dt>

       
       
           Reader Duty:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RdrDutyCode.RdrDutyName)
        </dd>

        <dt>
            Reader Type:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReaderType.RdrTypeName)
        </dd>
        <dt>

        </dt>
    
<dd>            
 @Html.ActionLink(" Edit ", "Edit", new { id = Model.RdrID } , new { @class = "btn btn-warning" })
@Html.ActionLink("Back to List", "Index",null,new { @class = "btn btn-primary " })

</dd>
</dl>
</div>
