@model WMS.Models.JobCardEmp

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>JobCardEmp</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EmpDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmpDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmpID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmpID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubmittedFrom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubmittedFrom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WrkCardID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WrkCardID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompanyID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SendTo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SendTo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Approved)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Approved)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rejected)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rejected)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateCreated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Remarks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Remarks)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeIn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeIn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeOut)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeOut)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WorkMin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkMin)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.JobDataID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
