@model WMS.Models.ReaderType

@{
    ViewBag.Title = "Create";
}

<div>
      <form class ="form-inline" role="form">
          <div class="form-group "> <h2>Add Reader Type</h2> </div>
      </form>  
    </div>
 <hr />
@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @Html.ValidationSummary(true)

        <div class="form-group">
            <div class="control-label col-md-2">Reader Type Name</div>
            <div class="col-md-3">
                @Html.TextBoxFor(model => model.RdrTypeName,new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.RdrTypeName)
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2">Reader Vendor</div>
            <div class="col-md-10">
                @Html.DropDownList("VendorID",null,new { @class = "btn btn-default dropdown-toggle dropdown ComboBoxWidth"})
                @Html.ValidationMessageFor(model => model.VendorID)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default btn-success" />
                 @Html.ActionLink("Back to List", "Index",null,new { @class = "btn btn-primary " })
             </div>
        </div>
    </div>
}
       

