@model IEnumerable<WMS.Models.ReaderType>
@*@model PagedList.IPagedList<WMSModel.ReaderType>*@
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Reader Types";
}
 <div>
      <form class ="form-inline" role="form">
          <div class="form-group"> <h2>Reader Types</h2> </div>
          <div class="form-group CreateBtnMargin"><p>@Html.ActionLink("Create New", "Create",null,new { @class = "btn btn-xs btn-success" })</p></div>
          <div class="form-group pull-right SearchBtnMargin">
              @using (Html.BeginForm("Index", "ReaderType", FormMethod.Get))
                {<p>Find: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string,new { @class = "form-control" })  
                 <input class="btn btn-sm btn-success" type="submit" value="Search" /></p>}
          </div> 
      </form>  
 </div>
<div class="table-responsive">   
    <table class="table table-bordered table-hover table-condensed">
        <tr class="table-header">
            <th>
                @Html.ActionLink("Reader Type", "Index", new { sortOrder = ViewBag.NameSortParm })
            </th>
            <th>
               @Html.ActionLink("Vendor", "Index", new { sortOrder = ViewBag.NameSortParm })
            </th>
            <th>Edit | View | Delete</th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RdrTypeName)
            </td>
            
            <td>
                @Html.ActionLink(" ", "Edit", new { id=item.RdrTypeID }, new { @class = "glyphicon glyphicon-pencil btn btn-warning btn-xs" }) 
                @Html.ActionLink(" ", "Details", new { id=item.RdrTypeID }, new { @class = "glyphicon glyphicon-pencil btn btn-info btn-xs" }) 
                @Html.ActionLink(" ", "Delete", new { id=item.RdrTypeID }, new { @class = "glyphicon glyphicon-trash btn btn-danger btn-xs" })
            </td>
        </tr>
    }

    </table>
</div>
<br />