@model WMS.Models.Location

@{
    ViewBag.Title = "Location Create";
}
<br />
<div>
      <form class ="form-inline" role="form">
          <div class="form-group "> <h3>Add new Location</h3> </div>
      </form>  
</div>
@using (Html.BeginForm()) 
{
     <div class="well bs-component">
        <form class="form-horizontal" action="~/Views/Location/Create" enctype="multipart/form-data" method="post">
             @Html.AntiForgeryToken()
            <fieldset>
    <div class="form-horizontal">
        @Html.ValidationSummary(true)

        <div class="form-group">
            <div class="control-label col-md-2">Location</div>
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.LocName,new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.LocName)
            </div>
        </div>
         
         <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default btn-success" />
                 @Html.ActionLink("Back to List", "Index",null,new { @class = "btn btn-primary " })
             </div>
        </div>
    </div>
                </fieldset>
            </form>
         </div>
}