@model IEnumerable<WMS.Models.Crew>

@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
}
<div>
      <form class ="form-inline" role="form">
          <div class="form-group"> <h2>CrewName</h2> </div>
          <div class="form-group CreateBtnMargin">@Html.ActionLink("Create New", "Create",null,new { @class = "btn btn-xs btn-success" })</div>
          <div class="form-group pull-right SearchBtnMargin">
              @using (Html.BeginForm("Index", "CrewName", FormMethod.Get))
                {<p>Find: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string,new { @class = "form-control" })  
                 <input class="btn btn-sm btn-success" type="submit" value="Search" /></p>}
          </div> 
      </form>  
    </div>
 <div class="table-responsive">
    <table class="table table-bordered table-hover table-condensed">
     <tr class="table-header">
        <th>
           @Html.ActionLink("Crew", "Index", new { sortOrder = ViewBag.CrewSortParm })
        </th>  
        <th>Edit | View | Delete</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CrewName)
        </td>        
        <td>
            @Html.ActionLink(" ", "Edit", new { id=item.CrewID }, new { @class = "glyphicon glyphicon-pencil btn btn-warning btn-xs" })
            @Html.ActionLink(" ", "Details", new { id=item.CrewID }, new { @class = "glyphicon glyphicon-pencil btn btn-info btn-xs" }) 
            @Html.ActionLink(" ", "Delete", new { id=item.CrewID }, new { @class = "glyphicon glyphicon-trash btn btn-danger btn-xs" })
        </td>
    </tr>
}

</table>
    </div>
@*<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CrewName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CrewName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CrewID }) |
            @Html.ActionLink("Details", "Details", new { id=item.CrewID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CrewID })
        </td>
    </tr>
}

</table>*@

