
@{
    ViewBag.Title = "Index";
}

<article class="row">
        <header>
            <h3>Define Roster</h3>
            <h5>@Html.ActionLink("List of Roster Applications", "RosterAppIndex",null,new { @class = "" })</h5><hr/>
        </header>
        @using (Html.BeginForm("Create", "Roster", FormMethod.Post)) 
        {
            @Html.AntiForgeryToken()
            <article class="row">
             <section class="col-md-6">
                 <div class="row" style="margin-left:10%; margin-bottom:3%">
                    <div class="control-label col-md-3">Roster Name</div>
                    <div class="col-md-6">
                         <input type="text" id="rostername" name="rostername" required  class="form-control" />
                    </div>
                </div>

                 <div class="row" style="margin-left:10%; margin-bottom:3%">
                    <div class="control-label col-md-3">Shift</div>
                    <div class="col-md-6">
                         @Html.DropDownList("ShiftList",null,new { @class = "btn btn-default dropdown-toggle dropdown ComboBoxWidth"})
                    </div>
                </div>

                <div class="row" style="margin-left:10%; margin-bottom:3%">
                    <div class="control-label col-md-3">Roster Type</div>
                    <div class="col-md-6">
                          @Html.DropDownList("RosterType",null,new { @class = "btn btn-default dropdown-toggle dropdown ComboBoxWidth"})
                    </div>
                </div>
    
                @*<div class="row" style="margin-left:10%; margin-bottom:3%">
                    <div class="control-label col-md-3">Repeat</div>
                    <div class="col-md-6">
                        @Html.DropDownList("chkBox", new List<SelectListItem>
                        { new SelectListItem { Text = "No", Value = "0", Selected=true},
                            new SelectListItem { Text = "Yes", Value = "1"}
                            },new { @class = "btn btn-default dropdown-toggle dropdown ComboBoxWidth"}) 
                    </div>
                </div>*@

                <div class="row" style="margin-left:10%; margin-bottom:3%">
                    <div class="control-label col-md-3">Start Date</div>
                    <div class="col-md-6">
                         <input required type="date" id="dateStart" name="dateStart"   class="form-control"/>
                    </div>
                </div>

                  <div id="cyclesDiv" class="row" style="margin-left:10%; margin-bottom:3%">
                    <div class="control-label col-md-3">Repitition Cycles</div>
                    <div class="col-md-6">
                         <input type="number" value="1" min="1" id="cycles" name="cycles" required  class="form-control" />
                    </div>
                </div>
                
                <div class="row" style="margin-left:10%; margin-bottom:3%">
                    <div class="control-label col-md-3">End Date</div>
                    <div class="col-md-6">
                        <input disabled required type="text" id="dateEnd" name="dateEnd" class="form-control"  />
                        <input type="hidden" id="dateEndHidden" name="dateEndHidden" class="form-control"  />
                    </div>
                </div>

                <div class="row" style="margin-left:10%; margin-bottom:3%">
                    <div class="control-label col-md-3">Work Minutes</div>
                    <div class="col-md-6">
                         <input type="text" id="mints" name="mints" value="585"  class="form-control" />
                    </div>
                </div>
                 <div class="row" style="margin-left:10%; margin-bottom:3%">
                    <div class="control-label col-md-3">Duty Time</div>
                    <div class="col-md-6">
                         <input type="text" id="dutyTime" name="dutyTime" value="0800"  class="form-control" />
                    </div>
                </div>
            </section>
            <section class="col-md-6">
                <header>
                    <h4>Apply Roster To: </h4>
                </header>
                 <div style="font-size:15px;">
                    <div class="radio"><label><input type="radio" style="margin-left:-45px;" checked value="shift" name="cars">Shift</label></div>
                    <div class="radio"><label><input type="radio" style="margin-left:-45px;" value="crew" name="cars">Crew</label></div>
                    <div class="radio"><label><input type="radio" style="margin-left:-45px;" value="section"name="cars">Section</label></div>
                    @*<div class="radio"><label><input type="radio" style="margin-left:-45px;"  value="employee" name="cars">Employee</label></div>*@
                </div>
                
                   @* <div id="Option1" class="desc">
                        <div class="row" style="margin-bottom:3%">
                            <div class="col-md-3">
                                <h5 style="font-size:14px; font-weight:bold">Select Shift</h5>
                            </div>
                            <div class="col-md-6">
                                @Html.DropDownList("ShiftList",null,new { @class = "btn btn-default dropdown-toggle dropdown ComboBoxWidth"})
                            </div>
                        </div>
                    </div>*@
                
                <div id="Option2" class="desc">
                    <div class="row" style=" margin-bottom:3%">
                         <div class="col-md-3">
                                <h5 style="font-size:14px; font-weight:bold">Select Crew</h5>
                            </div>
                        <div class="col-md-6">
                            @Html.DropDownList("CrewList",null,new { @class = "btn btn-default dropdown-toggle dropdown ComboBoxWidth"})
                        </div>
                    </div>
                </div>
                
                <div id="Option3" class="desc">
                    <div class="row" style="margin-bottom:3%">
                        <div class="col-md-3">
                                <h5 style="font-size:14px; font-weight:bold">Select Section</h5>
                            </div>
                        <div class="col-md-6">
                            @Html.DropDownList("SectionList",null,new { @class = "btn btn-default dropdown-toggle dropdown ComboBoxWidth"})
                        </div>
                    </div>
                </div>
                
              @*  <div id="Option4" class="desc">
                    <div class="row" style="margin-bottom:3%">
                        <div class="col-md-3">
                                <h5 style="font-size:14px; font-weight:bold">Enter P.No</h5>
                            </div>
                        <div class="col-md-6">
                            <input id="JobEmpNo" name="JobEmpNo" type="text" class="form-control"/>
                        </div>
                    </div>
                </div>*@
            </section>
            </article>
                
                <div class="form-group">
                    <div class="col-md-offset-3 col-md-9">
                        <input type="submit" value="Create" class="btn btn-small btn-default btn-success" />
                    </div>
                </div>   
      
        }
</article>
<script src="@Url.Content("~/Scripts/JavaScript1.js")"></script>
<script src="@Url.Content("~/Scripts/rosterScript.js")"></script>
<style type="text/css">
    table
    {
        font-family: verdana,arial,sans-serif;
        font-size: 11px;
        color: #333333;
        border-width: 1px;
        border-color: #666666;
        border-collapse: collapse;
    }
    table th
    {
        border-width: 1px;
        padding: 8px;
        border-style: solid;
        border-color: #666666;
        background-color: #dedede;
    }
    table td
    {
        border-width: 1px;
        padding: 8px;
        border-style: solid;
        border-color: #666666;
        background-color: #ffffff;
    }
    input
    {
        width:60px;
    }
</style>
@*@using (Html.BeginForm("Index", "Home"))
{

    var grid = new WebGrid(Model.StudentList, canSort: false, canPage: false);
    int rowNum = 0;
    <div>
        @grid.GetHtml(columns:
            grid.Columns
            (
                grid.Column("RowNumber", format: item => rowNum = rowNum + 1),
                grid.Column("Name", format: (item) => Html.TextBox("StudentList[" + (rowNum - 1).ToString() + "].Name", (object)item.Name)),
                grid.Column("Class", format: (item) => Html.TextBox("StudentList[" + (rowNum - 1).ToString() + "].ClassOfStudent", (object)item.ClassOfStudent)),
                grid.Column("Section", format: (item) => Html.TextBox("StudentList[" + (rowNum - 1).ToString() + "].Section", (object)item.Section)),
                grid.Column("Address", format: (item) => Html.TextBox("StudentList[" + (rowNum - 1).ToString() + "].Address", (object)item.Address))
            ), mode: WebGridPagerModes.Numeric)
    </div>
    <input type="submit" value="Submit" />
}*@

