@model WMS.Models.Section

@{
    ViewBag.Title = "Section Create";
}
<br />


@using (Html.BeginForm()) 
{
    <div class="well bs-component">
        <form class="form-horizontal" action="~/Views/Holiday/Create" enctype="multipart/form-data" method="post">
             @Html.AntiForgeryToken()
            <fieldset>
        <h3>Add new Sections</h3>
<hr />
    <div class="form-horizontal">

        @Html.ValidationSummary(true)
         
         <div class="form-group">
            <div class="control-label col-md-2">Department</div>
            <div class="col-md-10">
               @* <select class="btn btn-default dropdown-toggle dropdown comboboxwidth" id="deptid" name="deptid"></select>*@
                @Html.DropDownList("deptid", null,new { @class = "btn btn-default dropdown-toggle dropdown comboboxwidth"})
                @Html.ValidationMessageFor(model => model.DeptID)
            </div>
        </div>
        <div class="form-group">
           <div class="control-label col-md-2">Section</div>
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.SectionName,new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.SectionName)
            </div>
        </div>

       

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default btn-success" />
                 @Html.ActionLink("Back to List", "Index",null,new { @class = "btn btn-primary " })
            </div>
        </div>
    </div>
                </fieldset>
            </form>
        </div>
}

<script src="@Url.Content("~/Scripts/HR/DeptCompanyCreate.js")"></script>
<style>
    hr {
        color: #fff;
        background-color: #fff;
        height: 1px;
    }
</style>