@model WMS.Models.Section

@{
    ViewBag.Title = "Edit";
}

<h2>Edit Section</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.SectionID)

        <div class="form-group">
            <label class="control-label col-md-2">Department</label>
            <div class="col-md-10">
              <select class="btn btn-default dropdown-toggle dropdown ComboBoxWidth" id="DeptID" name="DeptID"></select>
                        @Html.HiddenFor(model => model.DeptID , new { id = "selectedDeptIDHidden" }) 
                @Html.ValidationMessageFor(model => model.DeptID) 
            </div>
        </div>
          <div class="form-group">
           <label class="control-label col-md-2">Section</label>
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.SectionName,new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.SectionName)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-success" />
                   @Html.ActionLink("Back to List", "Index",null,new { @class = "btn btn-primary " })
            </div>
        </div>
    </div>
}

<script src="@Url.Content("~/Scripts/HR/DeptCompany.js")"></script>