@model WMS.Models.User

@{
    ViewBag.Title = "Create";
}
    <div>
      <form class ="form-inline" role="form">
          <div class="form-group "> <h2>Create User</h2> </div>
      </form>  
    </div>
 <hr />

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
    @Html.ValidationSummary(true)
      <div ng-app="UserLocation" ng-controller="myCtrl" data-ng-init="initFunction()">
      
        <section class="col-md-4">
             <div class="form-group">
               <div class="control-label col-md-4">AD Username</div>
                <div class="col-md-8">
                    @Html.TextBoxFor(model => model.UserName,new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.UserName)
@*@Html.ActionLink("View AD Users", "ListOfADUser",null,new { @class = "" })*@
                    <a target="_blank" href="~/User/ListOfADUser">List of AD Users</a>
                </div>
            </div>
            @*<div class="form-group">
               <div class="control-label col-md-4">Password</div>
                <div class="col-md-4">
                    @Html.TextBoxFor(model => model.Password,new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Password)
                </div>
             </div>*@
             <div class="form-group">
               <div class="control-label col-md-4">Emp No</div>
                <div class=" col-md-4 ">
                  @Html.TextBox("EmpNo" , null ,new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
               <div class="control-label col-md-4">Status</div>
                <div class="col-md-4">
                     @Html.DropDownList("Status", new List<SelectListItem>
                    { 
                        new SelectListItem { Text = "Active", Value = "1"},
                        new SelectListItem { Text = "InActive", Value = "0"}
                    },new { @class = "btn btn-default dropdown-toggle dropdown ComboBoxWidth"}) 
                        
                </div>
            </div>

          

        <div class="form-group">
           <div class="control-label col-md-4">Data Role</div>
            <div class="col-md-4">
                @Html.DropDownList("RoleID", null,new { @class = "btn btn-default dropdown-toggle dropdown ComboBoxWidth"})
                @Html.ValidationMessageFor(model => model.RoleID)
            </div>
        </div> 
        @*<div class="form-group">
            <div class="control-label col-md-4">Location</div>
            <div class="col-md-4">
                @Html.DropDownList("LocationID",null,new { @class = "btn btn-default dropdown-toggle dropdown ComboBoxWidth"})
                @Html.ValidationMessageFor(model => model.LocationID)
            </div>
        </div>*@
          <div class="form-group">
            <div class="control-label col-md-4">Location</div>
            <div class="col-md-8">
                <input type="hidden" placeholder="e.g Lahore" data-ng-model="location.name" id="uLocationCount" name="uLocationCount" class="form-control" value="{{locations.length}}">
                <div class="input-group" ng-repeat="location in locations">
                    <input disabled type="text" placeholder="e.g Lahore" id="testLocation{{$index + 1}}" data-ng-model="location.name" class="form-control">
                    <input type="hidden" placeholder="e.g Lahore" data-ng-model="location.name" id="uLocation{{$index + 1}}" name="uLocation{{$index + 1}}" class="form-control" value="{{location.name}}">
                    <span class="input-group-btn">
                        <button type="button" ng-click="removeLocation($index)" class="btn btn-default"><i class="fa fa-times"></i>[X]</button>
                    </span>
                </div>
                 <div  ng-show="isAddingLocation">
                    @*<input type="text" placeholder="Add a Location" data-ng-model="newLocation.name" class="form-control">*@
                    <select type="text" placeholder="Add a Location" data-ng-model="newLocation.name" class="form-control">
                        <option ng-repeat="loc in AllLocations">{{loc.Text}}</option>
                    </select>
                    <a class="btn btn-default btn-sm" ng-click="addLocation()">Add</a>
                    <a href="" ng-click="isAddingLocation = false">Done Adding</a>
                </div>
                <p><a href="" ng-click="isAddingLocation = true">+ Add Location</a></p>
            </div>
          </div>


    @*<div class="col-md-4">
                          <section class="listThingy" class="row" ng-repeat="speciality in company.specialities">
                            <div class="input-group">
                              <input disabled type="text" placeholder="e.g Software" data-ng-model="speciality.name" class="form-control">
                              <span class="input-group-btn">
                                <button type="button" ng-click="removeSpeciality($index)" class="btn btn-default"><i class="fa fa-times"></i></button>
                              </span>
                            </div>
                          </section>
                          <div class="addThingy" ng-show="isAddingSpeciality">
                              <input type="text" placeholder="Add a speciality" data-ng-model="newSpeciality.name" class="form-control">
                              <a class="btn btn-default btn-sm" ng-click="addSpeciality()">Add</a>
                              <a href="" ng-click="isAddingSpeciality = false">Done Adding</a>
                          </div>
                          <p><a href="" ng-click="isAddingSpeciality = true">+ Add Speciality</a></p>
                        </div>*@


        <div class="form-group">
            <div class="control-label col-md-4">Permanent Staff</div>
            <div class="col-md-4">
                @Html.DropDownList("ViewPermanentStaff", new List<SelectListItem>
                { 
                    new SelectListItem { Text = "Yes", Value = "1"},
                    new SelectListItem { Text = "No", Value = "0"}
                },new { @class = "btn btn-default dropdown-toggle dropdown ComboBoxWidth"}) 
            </div>
        </div>

        <div class="form-group">
           <div class="control-label col-md-4">Permanent Management</div>
            <div class="col-md-4">
                 @Html.DropDownList("ViewPermanentMgm", new List<SelectListItem>
                    { 
                        new SelectListItem { Text = "Yes", Value = "1"},
                        new SelectListItem { Text = "No", Value = "0"}
                    },new { @class = "btn btn-default dropdown-toggle dropdown ComboBoxWidth"}) 
            </div>
        </div>

        <div class="form-group">
           <div class="control-label col-md-4">Contractuals</div>
            <div class="col-md-4">
                 @Html.DropDownList("ViewContractual", new List<SelectListItem>
                    { 
                        new SelectListItem { Text = "Yes", Value = "1"},
                        new SelectListItem { Text = "No", Value = "0"}
                    },new { @class = "btn btn-default dropdown-toggle dropdown ComboBoxWidth"}) 
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-4">Only Location</div>
            <div class="col-md-4">
                 @Html.DropDownList("ViewLocation", new List<SelectListItem>
                    { 
                        new SelectListItem { Text = "Yes", Value = "1"},
                        new SelectListItem { Text = "No", Value = "0"}
                    },new { @class = "btn btn-default dropdown-toggle dropdown ComboBoxWidth"})
            </div>
        </div>

         <div class="form-group">
             <div class="control-label col-md-4">Can Edit</div>
             <div class="col-md-6">
                 @Html.DropDownList("CanEdit", new List<SelectListItem>
                  { new SelectListItem { Text = "No", Value = "0", Selected=true},
                    new SelectListItem { Text = "Yes", Value = "1"}
                    },new { @class = "btn btn-default dropdown-toggle dropdown ComboBoxWidthSmall"}) 
             </div>
          </div>

          <div class="form-group">
              <div class="control-label col-md-4">Can Delete</div>
              <div class="col-md-6">
                @Html.DropDownList("CanDelete", new List<SelectListItem>
                { new SelectListItem { Text = "No", Value = "0", Selected=true},
                    new SelectListItem { Text = "Yes", Value = "1"}
                    },new { @class = "btn btn-default dropdown-toggle dropdown ComboBoxWidthSmall"}) 
              </div>
          </div>

        <div class="form-group">
             <div class="control-label col-md-4">Can Add</div>
             <div class="col-md-6">
                @Html.DropDownList("CanAdd", new List<SelectListItem>
                { new SelectListItem { Text = "No", Value = "0", Selected=true},
                    new SelectListItem { Text = "Yes", Value = "1"}
                    },new { @class = "btn btn-default dropdown-toggle dropdown ComboBoxWidthSmall"}) 
             </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-4">Can View</div>
            <div class="col-md-6">
                @Html.DropDownList("CanView", new List<SelectListItem>
                { new SelectListItem { Text = "No", Value = "0", Selected=true},
                    new SelectListItem { Text = "Yes", Value = "1"}
                    },new { @class = "btn btn-default dropdown-toggle dropdown ComboBoxWidthSmall"}) 
            </div>
        </div>     
     </section>
       
        <section class="col-md-4">
        <center><h3>Application Module</h3></center> 
              <div class="form-group">
                  <div class="control-label col-md-4">User</div>
                  <div class="col-md-6">
                        @Html.DropDownList("MUser", new List<SelectListItem>
                        { new SelectListItem { Text = "No", Value = "0", Selected=true},
                            new SelectListItem { Text = "Yes", Value = "1"}
                            },new { @class = "btn btn-default dropdown-toggle dropdown ComboBoxWidthSmall"}) 
                   </div>
              </div>
              <div class="form-group">
                  <div class="control-label col-md-4">HR</div>
                  <div class="col-md-6">
                        @Html.DropDownList("MHR", new List<SelectListItem>
                        { new SelectListItem { Text = "No", Value = "0", Selected=true},
                            new SelectListItem { Text = "Yes", Value = "1"}
                            },new { @class = "btn btn-default dropdown-toggle dropdown ComboBoxWidthSmall"}) 
                  </div>
              </div>

                <div class="form-group">
                    <div class="control-label col-md-4">Device</div>
                    <div class="col-md-6">
                        @Html.DropDownList("MDevice", new List<SelectListItem>
                        { new SelectListItem { Text = "No", Value = "0", Selected=true},
                            new SelectListItem { Text = "Yes", Value = "1"}
                            },new { @class = "btn btn-default dropdown-toggle dropdown ComboBoxWidthSmall"}) 
                    </div>
                </div>

                <div class="form-group">
                   <div class="control-label col-md-4">Desktop</div>
                    <div class="col-md-6">
                        @Html.DropDownList("MDesktop", new List<SelectListItem>
                        { new SelectListItem { Text = "No", Value = "0", Selected=true},
                            new SelectListItem { Text = "Yes", Value = "1"}
                            },new { @class = "btn btn-default dropdown-toggle dropdown ComboBoxWidthSmall"}) 
                    </div>
                </div>
                <div class="form-group">
                    <div class="control-label col-md-4">Edit Attendance</div>
                    <div class="col-md-6">
                        @Html.DropDownList("MEditAtt", new List<SelectListItem>
                        { new SelectListItem { Text = "No", Value = "0", Selected=true},
                            new SelectListItem { Text = "Yes", Value = "1"}
                            },new { @class = "btn btn-default dropdown-toggle dropdown ComboBoxWidthSmall"}) 
                    </div>
                </div>
            <div class="form-group">
                    <div class="control-label col-md-4">Process</div>
                    <div class="col-md-6">
                        @Html.DropDownList("MProcess", new List<SelectListItem>
                        { new SelectListItem { Text = "No", Value = "0", Selected=true},
                            new SelectListItem { Text = "Yes", Value = "1"}
                            },new { @class = "btn btn-default dropdown-toggle dropdown ComboBoxWidthSmall"}) 
                    </div>
                </div>
                <div class="form-group">
                    <div class="control-label col-md-4">Leave</div>
                    <div class="col-md-6">
                        @Html.DropDownList("MLeave", new List<SelectListItem>
                        { new SelectListItem { Text = "No", Value = "0", Selected=true},
                            new SelectListItem { Text = "Yes", Value = "1"}
                            },new { @class = "btn btn-default dropdown-toggle dropdown ComboBoxWidthSmall"}) 
                    </div>
                 </div>
                <div class="form-group">
                    <div class="control-label col-md-4">Roster</div>
                    <div class="col-md-6">
                        @Html.DropDownList("MRoster", new List<SelectListItem>
                        { new SelectListItem { Text = "No", Value = "0", Selected=true},
                            new SelectListItem { Text = "Yes", Value = "1"}
                            },new { @class = "btn btn-default dropdown-toggle dropdown ComboBoxWidthSmall"}) 
                    </div>
                 </div>
       </section>

        <section class="col-md-4">
            <h3>Reports Module</h3>
                 <div class="form-group">
                    <div class="control-label col-md-4">Leave</div>
                    <div class="col-md-6">
                        @Html.DropDownList("MRLeave", new List<SelectListItem>
                        { new SelectListItem { Text = "No", Value = "0", Selected=true},
                            new SelectListItem { Text = "Yes", Value = "1"}
                            },new { @class = "btn btn-default dropdown-toggle dropdown ComboBoxWidthSmall"}) 
                    </div>
                 </div>

                 <div class="form-group">
                    <div class="control-label col-md-4">Daily</div>
                    <div class="col-md-6">
                        @Html.DropDownList("MRDailyAtt", new List<SelectListItem>
                        { new SelectListItem { Text = "No", Value = "0", Selected=true},
                            new SelectListItem { Text = "Yes", Value = "1"}
                            },new { @class = "btn btn-default dropdown-toggle dropdown ComboBoxWidthSmall"}) 
                    </div>
                 </div>

                <div class="form-group">
                    <div class="control-label col-md-4">Monthly</div>
                    <div class="col-md-6">
                        @Html.DropDownList("MRMonthly", new List<SelectListItem>
                        { new SelectListItem { Text = "No", Value = "0", Selected=true},
                            new SelectListItem { Text = "Yes", Value = "1"}
                            },new { @class = "btn btn-default dropdown-toggle dropdown ComboBoxWidthSmall"}) 
                    </div>
                </div>


                 <div class="form-group">
                    <div class="control-label col-md-4">Audit</div>
                    <div class="col-md-6">
                        @Html.DropDownList("MRAudit", new List<SelectListItem>
                        { new SelectListItem { Text = "No", Value = "0", Selected=true},
                            new SelectListItem { Text = "Yes", Value = "1"}
                            },new { @class = "btn btn-default dropdown-toggle dropdown ComboBoxWidthSmall"}) 
                    </div>
                 </div>


                 <div class="form-group">
                    <div class="control-label col-md-4">Manual Edit</div>
                    <div class="col-md-6">
                        @Html.DropDownList("MRManualEditAtt", new List<SelectListItem>
                        { new SelectListItem { Text = "No", Value = "0", Selected=true},
                            new SelectListItem { Text = "Yes", Value = "1"}
                            },new { @class = "btn btn-default dropdown-toggle dropdown ComboBoxWidthSmall"}) 
                    </div>
                </div>


                <div class="form-group">
                    <div class="control-label col-md-4">Employee</div>
                    <div class="col-md-6">
                        @Html.DropDownList("MREmployee", new List<SelectListItem>
                        { new SelectListItem { Text = "No", Value = "0", Selected=true},
                            new SelectListItem { Text = "Yes", Value = "1"}
                            },new { @class = "btn btn-default dropdown-toggle dropdown ComboBoxWidthSmall"}) 
                    </div>
                 </div>

                <div class="form-group">
                    <div class="control-label col-md-4">Detail</div>
                    <div class="col-md-6">
                        @Html.DropDownList("MRDetail", new List<SelectListItem>
                        { new SelectListItem { Text = "No", Value = "0", Selected=true},
                            new SelectListItem { Text = "Yes", Value = "1"}
                            },new { @class = "btn btn-default dropdown-toggle dropdown ComboBoxWidthSmall"}) 
                    </div>
                </div>

                <div class="form-group">
                   <div class="control-label col-md-4">Graph</div>
                    <div class="col-md-6">
                        @Html.DropDownList("MRGraph", new List<SelectListItem>
                        { new SelectListItem { Text = "No", Value = "0", Selected=true},
                            new SelectListItem { Text = "Yes", Value = "1"}
                            },new { @class = "btn btn-default dropdown-toggle dropdown ComboBoxWidthSmall"}) 
                    </div>
                 </div>

                <div class="form-group">
                    <div class="control-label col-md-4">Summary</div>
                    <div class="col-md-6">
                        @Html.DropDownList("MRSummary", new List<SelectListItem>
                        { new SelectListItem { Text = "No", Value = "0", Selected=true},
                            new SelectListItem { Text = "Yes", Value = "1"}
                            },new { @class = "btn btn-default dropdown-toggle dropdown ComboBoxWidthSmall"}) 
                       @*@Html.CheckBoxFor(m=>m.MRSummary.Value,new{Text="Space"}),*@
                    </div>
                </div>

        </section>
        

         <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default btn-success" />
                 @Html.ActionLink("Back to List", "Index",null,new { @class = "btn btn-primary " })
            </div>
        </div>
      </div>
    </div>
}
@*<div>
    <div ng-controller="myCtrl" data-ng-init="initFunction()">
 	<p>Name: <input type="text" ng-model="name"></p>
 	<p>{{name}}</p>
        
</div>
    </div>*@
  
 <script src="~/Scripts/angular/MainController.js"></script>  
<script src="~/Scripts/angular/UserController.js"></script> 
