@model WMS.Models.Division

@{
    ViewBag.Title = "Edit";
}

<h2>Edit Division</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.DivisionID)

        <div class="form-group">
            @Html.LabelFor(model => model.DivisionName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.DivisionName,new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.DivisionName)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default btn-success" />
              @Html.ActionLink("Back to List", "Index",null,new { @class = "btn btn-primary " })
            </div>
        </div>
    </div>
}

