@model WMS.Models.Shift

@{
    ViewBag.Title = "Delete";
}

<style>  
 dd,dt {
    margin-bottom: 5px;
}
</style>

<h3>Are you sure you want to delete this Shift?</h3><hr />
@if (ViewData["Error"] != null)
{
    <div>
        <p class="ErorrMessage"><strong >Error:</strong> @ViewBag["Error"].ToString()</p>
    </div>
}
<div>
    <dl class="dl-horizontal">
        <dt>
            Shift Name:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShiftName)
        </dd>

        <dt>
            Start Time:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartTime)
        </dd>

        <dt>
            Day Off 1:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DaysName.Name)
        </dd>

        <dt>
            Day Off 2:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DaysName1.Name)
        </dd>

        <dt>
            Gazatted Holidays:
        </dt>

        <dd>
            @if (Model.GZDays == true)
            {
                <p>Enable</p>
            }
            else
            {
                <p>Disable</p>
            }
        </dd>

        

        <dt>
            Monday Work Min:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MonMin)
        </dd>

        <dt>
            Tuesday Work Min:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TueMin)
        </dd>

        <dt>
            Wednesday Work Min:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WedMin)
        </dd>

        <dt>
            Thrusday Work Min:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThuMin)
        </dd>

        <dt>
            Friday Work Min:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FriMin)
        </dd>

        <dt>
            Saturday Work Min:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SatMin)
        </dd>

        <dt>
            Sunday Work Min:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SunMin)
        </dd>
        <dt>
            <span style="font-size:18px;">Margins</span><hr />
        </dt>

        <dd>
            
        </dd> 
        <dt>
            Late In:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LateIn)
        </dd>

        <dt>
            Early In:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EarlyIn)
        </dd>

        <dt>
            Early Out:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EarlyOut)
        </dd>

        <dt>
            Late Out:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LateOut)
        </dd>

        <dt>
            Over Time:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OverTimeMin)
        </dd>

        <dt>
            Minimum Working Hours:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MinHrs)
        </dd>

        <dt>
            Break Time:
        </dt>

        <dd>
            @if (Model.HasBreak == true)
            {
                <p>Enable</p>
            }
            else
            {
                <p>Disable</p>
            }
        </dd>

        <dt>
            Break Minutes:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BreakMin)
        </dd>
    </dl>
     @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <div class="col-md-offset-1 col-md-10">
                <input type="submit" value="Delete" class="btn btn-danger" />  
                @Html.ActionLink("Back to List", "Index",null,new { @class = "btn btn-primary " })
            </div>
        </div>
<hr />
    }
<hr />
</div>
