@model WMS.Models.Shift

@{
    ViewBag.Title = "Edit";
}

 <div>
      <form class ="form-inline" role="form">
          <div class="form-group "> <h2>Edit Shift</h2> </div>
      </form>  
    </div>
 <hr />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.ShiftID)
        @Html.HiddenFor(model => model.OpenShift)

         <div class="Outer">
         <div class="InnerLeft">
            <div class="form-group">
                <div class="control-label col-md-4">Shift Name</div>
                <div class="col-md-6">
                    @Html.TextBoxFor(model => model.ShiftName,new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ShiftName)
                </div>
            </div>
             <div class="form-group">
                <div class="control-label col-md-4">Location</div>
                <div class="col-md-6">
                    @Html.DropDownList("LocationID",null,new { @class = "btn btn-default dropdown-toggle dropdown ComboBoxWidth"})
                    @Html.ValidationMessageFor(model => model.LocationID)
                </div>
            </div> 
            <div class="form-group">
                <div class="control-label col-md-4">Start Time</div>
                <div class="col-md-6">
                   <div>@Html.TextBoxFor(model => model.StartTime,new { @class = "form-control" }) <span>e.g 13:20</span></div> 
                    @Html.ValidationMessageFor(model => model.StartTime)
                </div>
            </div>
            
              @*@Html.DropDownList("SelectedItem", (IEnumerable<SelectListItem>)ViewData["drop"],new { @class = "btn btn-default dropdown-toggle dropdown ComboBoxWidth"})*@
            <div class="form-group">
                <div class="control-label col-md-4">Day Off 1</div>
                <div class="col-md-4">
                    @Html.DropDownList("DayOff1",null,new { @class = "btn btn-default dropdown-toggle dropdown ComboBoxWidth"})
                    @Html.ValidationMessageFor(model => model.DayOff1)
                </div>
            </div>

            <div class="form-group">
                <div class="control-label col-md-4">Day Off 2</div>
                <div class="col-md-4">
                    @Html.DropDownList("DayOff2",null,new { @class = "btn btn-default dropdown-toggle dropdown ComboBoxWidth"})
                    @Html.ValidationMessageFor(model => model.DayOff2)
                </div>
            </div>

            
              <div class="form-group">
                <div class="control-label col-md-4">Gazetted Holiday</div>
                <div class="col-md-4">
                     @Html.DropDownList("Holiday", new List<SelectListItem>
                                    { 
                                        new SelectListItem { Text = "Yes", Value = "true", Selected=true},
                                        new SelectListItem { Text = "No", Value = "false"}
                                    },new { @class = "btn btn-default dropdown-toggle dropdown ComboBoxWidth"}) 
                                @Html.ValidationMessageFor(model => model.Holiday)
                </div>
              </div>
             
             <div class="form-group">
                <div class="control-label col-md-4"><span style="font-size:15px;font-weight:bold">Define Margins:</span></div>
            </div>

              <div class="form-group">
                <div class="control-label col-md-4">Late In</div>
                <div class="col-md-6">
                    @Html.TextBoxFor(model => model.LateIn,new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.LateIn)
                </div>
            </div>

            <div class="form-group">
                <div class="control-label col-md-4">Early In</div>
                <div class="col-md-6">
                    @Html.TextBoxFor(model => model.EarlyIn,new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.EarlyIn)
                </div>
            </div>

            <div class="form-group">
                <div class="control-label col-md-4">Early Out</div>
                <div class="col-md-6">
                    @Html.TextBoxFor(model => model.EarlyOut,new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.EarlyOut)
                </div>
            </div>

            <div class="form-group">
                <div class="control-label col-md-4">Late Out</div>
                <div class="col-md-6">
                    @Html.TextBoxFor(model => model.LateOut,new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.LateOut)
                </div>
            </div>

            <div class="form-group">
                <div class="control-label col-md-4">Overtime</div>
                <div class="col-md-6">
                    @Html.TextBoxFor(model => model.OverTimeMin,new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.OverTimeMin)
                </div>
            </div>

            <div class="form-group">
                <div class="control-label col-md-4">Minimum Work Minutes</div>
                <div class="col-md-6">
                    @Html.TextBoxFor(model => model.MinHrs,new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.MinHrs)
                </div>
            </div>

     </div>

     <div class="InnerRight">
            <div class="form-group">
                <div class="control-label col-md-4">Monday Work Minutes</div>
                <div class="col-md-4">
                    @Html.TextBoxFor(model => model.MonMin,new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.MonMin)
                </div>
            </div>

            <div class="form-group">
                <div class="control-label col-md-4">Tuesday Work Minutes</div>
                <div class="col-md-4">
                    @Html.TextBoxFor(model => model.TueMin,new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.TueMin)
                </div>
            </div>

            <div class="form-group">
                <div class="control-label col-md-4">Wednesday Work Minutes</div>
                <div class="col-md-4">
                    @Html.TextBoxFor(model => model.WedMin,new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.WedMin)
                </div>
            </div>

            <div class="form-group">
                <div class="control-label col-md-4">Thursday Work Minutes</div>
                <div class="col-md-4">
                    @Html.TextBoxFor(model => model.ThuMin,new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ThuMin)
                </div>
            </div>

            <div class="form-group">
                <div class="control-label col-md-4">Friday Work Minutes</div>
                <div class="col-md-4">
                    @Html.TextBoxFor(model => model.FriMin,new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.FriMin)
                </div>
            </div>

            <div class="form-group">
                <div class="control-label col-md-4">Saturday Work Minutes</div>
                <div class="col-md-4">
                    @Html.TextBoxFor(model => model.SatMin,new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.SatMin)
                </div>
            </div>

            <div class="form-group">
                <div class="control-label col-md-4">Sunday Work Minutes</div>
                <div class="col-md-4">
                    @Html.TextBoxFor(model => model.SunMin,new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.SunMin)
                </div>
            </div>
        @* <div class="form-group">
                <div class="control-label col-md-4">Open Shift</div>
                <div class="col-md-4">
                     @Html.DropDownList("OpenShift", new List<SelectListItem>
                                    { 
                                        new SelectListItem { Text = "Yes", Value = "true"},
                                        new SelectListItem { Text = "No", Value = "false"}
                                    },new { @class = "btn btn-default dropdown-toggle dropdown ComboBoxWidth"}) 
                                @Html.ValidationMessageFor(model => model.Holiday)
                </div>
              </div>
          <div class="form-group">
            <div class="control-label col-md-4">Break Enable</div>
            <div class="col-md-4">
                @Html.DropDownList("HasBreak", new List<SelectListItem>
                                    { 
                                        new SelectListItem { Text = "Yes", Value = "true", Selected=true},
                                        new SelectListItem { Text = "No", Value = "false"}
                                    },new { @class = "btn btn-default dropdown-toggle dropdown ComboBoxWidth"})
                @Html.ValidationMessageFor(model => model.HasBreak)
            </div>
        </div>*@

        <div class="form-group">
            <div class="control-label col-md-4">Break Minutes</div>
            <div class="col-md-4">
                @Html.TextBoxFor(model => model.BreakMin,new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.BreakMin)
            </div>
        </div>

        </div>
    </div>
    
         <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default btn-success" />
              @Html.ActionLink("Back to List", "Index",null,new { @class = "btn btn-primary " })
            </div>
        </div>
    </div>
}
