@model WMS.Models.User

@{
    ViewBag.Title = "Create";
}
    <div>
      <form class ="form-inline" role="form">
          <div class="form-group "> <h2>Create User</h2> </div>
      </form>  
    </div>
 <hr />

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
    @Html.ValidationSummary(true)
      <div ng-app="UserLocation" ng-controller="myCtrl" data-ng-init="initFunction()">
      
        <section class="col-md-12">
             <div class="form-group">
               <div class="control-label col-md-2">Username</div>
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.UserName,new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.UserName)
@*@Html.ActionLink("View AD Users", "ListOfADUser",null,new { @class = "" })<a target="_blank" href="~/User/ListOfADUser">List of AD Users</a>*@
                </div>
            </div>
            <div class="form-group">
               <div class="control-label col-md-2">Password</div>
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Password,new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Password)
                </div>
             </div>
            <div class="form-group">
               <div class="control-label col-md-2">User Type</div>
                <div class="col-md-10">
                    @Html.DropDownList("UserType", new List<SelectListItem>
                    { 
                        new SelectListItem { Text = "Admin", Value = "1"},
                        new SelectListItem { Text = "Restricted", Value = "0"}
                    },new { @class = "btn btn-default dropdown-toggle dropdown ComboBoxWidth"}) 
                </div>
             </div>
            <div class="form-group">
               <div class=" col-md-2 text-right">Status</div>
                <div class="col-md-10">
                    @Html.CheckBox("Status") 
                        
                </div>
            </div>

            <div class="form-group" name="ForAdminOnly" id="ForAdminOnly">
            <div class="col-md-2 text-right">Sections</div>
            <div class="col-md-3">
                <input type="hidden" placeholder="e.g Lahore" data-ng-model="section.name" id="uSectionCount" name="uSectionCount" class="form-control" value="{{sections.length}}">
                <div class="input-group" ng-repeat="sec in sections">
                    <input disabled type="text" placeholder="e.g Lahore" id="testSection{{$index + 1}}" data-ng-model="sec.name" class="form-control">
                    <input type="hidden" placeholder="e.g Lahore" data-ng-model="sec.name" id="uSection{{$index + 1}}" name="uSection{{$index + 1}}" class="form-control" value="{{sec.name}}">
                    <span class="input-group-btn">
                        <button type="button" ng-click="removeSection($index)" class="btn btn-default"><i class="fa fa-times"></i>[X]</button>
                    </span>
                </div>
                 <div  ng-show="isAddingSection">
                    @*<input type="text" placeholder="Add a Location" data-ng-model="newLocation.name" class="form-control">*@
                    <select type="text" placeholder="Add a Section" data-ng-model="newSection.name" class="form-control">
                        <option ng-repeat="sec in AllSections">{{sec.Text}}</option>
                    </select>
                    <a class="btn btn-default btn-sm" ng-click="addSection()">Add</a>
                    <a href="" ng-click="isAddingSection = false">Done Adding</a>
                </div>
                <p><a href="" ng-click="isAddingSection = true">+ Add Section</a></p>
            </div>
          </div>
          
            
         <div class="form-group">
             <div class="col-md-2 text-right">Operations</div>
             <div class="col-md-10">
                 @Html.CheckBox("CanAdd") <label>Can Add</label>
                 @Html.CheckBox("CanEdit") <label>Can Edit</label>
                 @Html.CheckBox("CanDelete") <label>Can Delete</label>
                 @Html.CheckBox("CanView") <label>Can View</label>
             </div>
          </div>
            <div class="form-group">
                <div class=" col-md-2 text-right">Forms</div>
                <div class="col-md-10">
                    @Html.CheckBox("MHR") <label>HR</label>
                    @Html.CheckBox("MOption") <label>Options</label>
                    @Html.CheckBox("MLeave") <label>Leaves</label>
                    @Html.CheckBox("MRoster") <label>Roster</label>
                    @Html.CheckBox("MUser") <label>Users</label>
                    @Html.CheckBox("MDevice") <label>Devices</label>
                    @Html.CheckBox("MDesktop") <label>Desktop</label>
                    @Html.CheckBox("MEditAtt") <label>Edit Attendance</label>
                    @Html.CheckBox("MProcess") <label>Process Attendance</label>
                    
                </div>
            </div>
         <div class="form-group">
                <div class="col-md-2 text-right">Reports</div>
                <div class="col-md-10">
                        @Html.CheckBox("MRLeave") <label>Leaves</label>
                        @Html.CheckBox("MRDailyAtt") <label>Daily Attendance</label>
                        @Html.CheckBox("MRMonthly") <label>Monthly Attendance</label>
                        @Html.CheckBox("MRAudit") <label>Audit</label>
                    @Html.CheckBox("MRManualEditAtt") <label>Edit Attendance</label>
                    @Html.CheckBox("MRDetail") <label>Detailed</label>
                    @Html.CheckBox("MRSummary") <label>Summary</label>
                </div>
            </div>
     </section>
        

         <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default btn-success" />
                 @Html.ActionLink("Back to List", "Index",null,new { @class = "btn btn-primary " })
            </div>
        </div>
      </div>
    </div>
}
@*<div>
    <div ng-controller="myCtrl" data-ng-init="initFunction()">
 	<p>Name: <input type="text" ng-model="name"></p>
 	<p>{{name}}</p>
        
</div>
    </div>*@
  
<script src="~/Scripts/angular/MainController.js"></script>  
<script src="~/Scripts/angular/UserController.js"></script>
<script src="~/Scripts/UserScripts.js"></script>
