@model WMS.Models.LvType

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Leave Type</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.LvType1)

        <div class="form-group">
            @Html.LabelFor(model => model.LvDesc, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LvDesc)
                @Html.ValidationMessageFor(model => model.LvDesc)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.HalfLeave, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.HalfLeave)
                @Html.ValidationMessageFor(model => model.HalfLeave)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.MaxDays, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MaxDays)
                @Html.ValidationMessageFor(model => model.MaxDays)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.UpdateBalance, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UpdateBalance)
                @Html.ValidationMessageFor(model => model.UpdateBalance)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Enable, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Enable)
                @Html.ValidationMessageFor(model => model.Enable)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.CarryForward, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CarryForward)
                @Html.ValidationMessageFor(model => model.CarryForward)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CountVacDays, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CountVacDays)
                @Html.ValidationMessageFor(model => model.CountVacDays)
            </div>
        </div>


@*Below are the commented Fields which are not used on our new Edit page but used in Old Edit page*@


       @* <div class="form-group">
            @Html.LabelFor(model => model.CompanyID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CompanyID)
                @Html.ValidationMessageFor(model => model.CompanyID)
            </div>
        </div>*@

        @*<div class="form-group">
            @Html.LabelFor(model => model.FldName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FldName)
                @Html.ValidationMessageFor(model => model.FldName)
            </div>
        </div>*@
         @*<div class="form-group">
            @Html.LabelFor(model => model.WorkDays, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.WorkDays)
                @Html.ValidationMessageFor(model => model.WorkDays)
            </div>
        </div>

       @* <div class="form-group">
            @Html.LabelFor(model => model.VacDays, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.VacDays)
                @Html.ValidationMessageFor(model => model.VacDays)
            </div>
        </div>*@

        @*<div class="form-group">
            @Html.LabelFor(model => model.MonthProcess, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MonthProcess)
                @Html.ValidationMessageFor(model => model.MonthProcess)
            </div>
        </div>*@

        @*<div class="form-group">
            @Html.LabelFor(model => model.LvStatus, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LvStatus)
                @Html.ValidationMessageFor(model => model.LvStatus)
            </div>
        </div>*@
        @* <div class="form-group">
            @Html.LabelFor(model => model.HalfLvCode, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.HalfLvCode)
                @Html.ValidationMessageFor(model => model.HalfLvCode)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.HalfAbCode, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.HalfAbCode)
                @Html.ValidationMessageFor(model => model.HalfAbCode)
            </div>
        </div>*@



        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
