@model IEnumerable<WMS.Models.LvType>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div>
      <form class ="form-inline" role="form">
          <div class="form-group"> <h2>Leave Types</h2> </div>
          
      </form>  
</div>
<div class="table-responsive">
<table class="table table-bordered table-hover table-condensed">
<table class="table">
    <tr>
        <th>
            Leave Description
        </th>
       
        <th>
            Half Leave
        </th>
        <th>
            Maximum Days
        </th>
        <th>
           Update Balence
        </th>
        <th>
            Enable Leave
        </th>
        <th>
            Carry Forward Leave
        </th>
        <th>
            Count Vacation Days
        </th>
        

@*Below are the commented headers which are not used on index page*@


        @* <th>
            @Html.DisplayNameFor(model => model.FldName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HalfLvCode)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.HalfAbCode)
        </th>*@

@*Below are the commented headers which are not used on our new index page but used in Old index page*@
       

     @*<th>
            @Html.DisplayNameFor(model => model.WorkDays)
        </th>*@


       @* <th>
            @Html.DisplayNameFor(model => model.MonthProcess)
        </th>*@


       @* <th>
            @Html.DisplayNameFor(model => model.LvStatus)
        </th>*@


       @* <th>
            @Html.DisplayNameFor(model => model.CompanyID)
        </th>*@


        <th>Edit</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.LvDesc)
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.HalfLeave)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.MaxDays)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UpdateBalance)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Enable)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CarryForward)
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.CountVacDays)
        </td>
        
       
     @*Below are the commented headers which are not used on index page*@  
       @*Below are the commented headers which are not used on our new index page but used in Old index page*@
        
        @*<td>
            @Html.DisplayFor(modelItem => item.WorkDays)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.LvStatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CompanyID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MonthProcess)
        </td>*@
        @* <td>
            @Html.DisplayFor(modelItem => item.FldName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HalfLvCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HalfAbCode)
        </td>*@


        <td>
             @Html.ActionLink(" ", "Edit", new { id=item.LvType1 }, new { @class = "glyphicon glyphicon-pencil btn btn-warning btn-xs" }) 
           

          @*  @Html.ActionLink("Details", "Details", new { id=item.LvType1 }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.LvType1 })*@
        </td>
    </tr>
}

</table>
</div>
