

@model WMS.Models.LvType

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>LvType</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
           <div class="col-md-2 text-right">LvTypeID</div>
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.LvTypeID,new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.LvTypeID)
            </div>
        </div>

        <div class="form-group">
           <div class="col-md-2 text-right">LvDesc</div>
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.LvDesc,new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.LvDesc)
            </div>
        </div>

        <div class="form-group">
           <div class="col-md-2 text-right">FldName</div>
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.FldName,new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.FldName)
            </div>
        </div>
        <div class="form-group">
            <div class=" col-md-2 text-right">HalfLeave</div>
            <div class="col-md-10">
                 @Html.CheckBox("HalfLeave")
                @Html.ValidationMessageFor(model => model.HalfLeave)
            </div>
        </div>
        <div id="HalfLeavediv">
            <div class="form-group">
                <div class="col-md-2 text-right">HalfLvCode</div>
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.HalfLvCode,new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.HalfLvCode)
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-2 text-right">HalfAbCode</div>
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.HalfAbCode,new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.HalfAbCode)
                </div>
            </div>
        </div>

        <div class="form-group">
             <div class="col-md-2 text-right">MaxDays</div>
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.MaxDays,new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.MaxDays)
            </div>
        </div>
        <div class="form-group">
            <div class=" col-md-2 text-right">UpdateBalance</div>
            <div class="col-md-10">
                 @Html.CheckBox("UpdateBalance")
                @Html.ValidationMessageFor(model => model.UpdateBalance)
            </div>
        </div> 
        <div class="form-group">
            <div class=" col-md-2 text-right">Enable</div>
            <div class="col-md-10">
                 @Html.CheckBox("Enable")
                @Html.ValidationMessageFor(model => model.Enable)
            </div>
        </div>

        <div class="form-group">
            <div class=" col-md-2 text-right">CarryForward</div>
            <div class="col-md-10">
                 @Html.CheckBox("CarryForward")
                @Html.ValidationMessageFor(model => model.CarryForward)
            </div>
        </div>

       <div class="form-group">
            <div class=" col-md-2 text-right">CarryForwardYear</div>
            <div class="col-md-10">
                 @Html.CheckBox("CarryForwardYear")
                @Html.ValidationMessageFor(model => model.CarryForwardYear)
            </div>
        </div>

         <div class="form-group">
            <div class=" col-md-2 text-right">CarryForwardDays</div>
            <div class="col-md-10">
                 @Html.CheckBox("CarryForwardDays")
                @Html.ValidationMessageFor(model => model.CarryForwardDays)
            </div>
        </div>
        <div class="form-group">
            <div class=" col-md-2 text-right">CountGZDays</div>
            <div class="col-md-10">
                 @Html.CheckBox("CountGZDays")
                @Html.ValidationMessageFor(model => model.CountGZDays)
            </div>
        </div>  
          <div class="form-group">
            <div class=" col-md-2 text-right">CountRestDays</div>
            <div class="col-md-10">
                 @Html.CheckBox("CountRestDays")
                @Html.ValidationMessageFor(model => model.CountRestDays)
            </div>
        </div>     
        <div class="form-group">
            <div class="col-md-2 text-right">MaxDaysConsective</div>
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.MaxDaysConsective,new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.MaxDaysConsective)
            </div>
        </div>

        <div class="form-group">
             <div class="col-md-2 text-right">MaxDaysMonth</div>
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.MaxDaysMonth,new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.MaxDaysMonth)
            </div>
        </div>

         <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default btn-success" />
                 @Html.ActionLink("Back to List", "Index",null,new { @class = "btn btn-primary " })
            </div>
        </div>
    </div>
}

<script type="text/javascript">
    $(document).ready(function () {
        $("#HalfLeavediv").hide();
        $('#HalfLeave').change(function () {
            if ($(this).is(":checked")) {
                $("#HalfLeavediv").show();
            }
            else { $("#HalfLeavediv").hide(); }
        });
    });
</script>