@model WMS.Models.LvType

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>LvType</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.LvTypeID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LvTypeID)
                @Html.ValidationMessageFor(model => model.LvTypeID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LvDesc, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LvDesc)
                @Html.ValidationMessageFor(model => model.LvDesc)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FldName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FldName)
                @Html.ValidationMessageFor(model => model.FldName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.HalfLeave, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.HalfLeave)
                @Html.ValidationMessageFor(model => model.HalfLeave)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.HalfLvCode, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.HalfLvCode)
                @Html.ValidationMessageFor(model => model.HalfLvCode)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.HalfAbCode, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.HalfAbCode)
                @Html.ValidationMessageFor(model => model.HalfAbCode)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MaxDays, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MaxDays)
                @Html.ValidationMessageFor(model => model.MaxDays)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UpdateBalance, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UpdateBalance)
                @Html.ValidationMessageFor(model => model.UpdateBalance)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Enable, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Enable)
                @Html.ValidationMessageFor(model => model.Enable)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CarryForward, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CarryForward)
                @Html.ValidationMessageFor(model => model.CarryForward)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CarryForwardYear, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CarryForwardYear)
                @Html.ValidationMessageFor(model => model.CarryForwardYear)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CarryForwardDays, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CarryForwardDays)
                @Html.ValidationMessageFor(model => model.CarryForwardDays)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CountGZDays, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CountGZDays)
                @Html.ValidationMessageFor(model => model.CountGZDays)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CountRestDays, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CountRestDays)
                @Html.ValidationMessageFor(model => model.CountRestDays)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MaxDaysConsective, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MaxDaysConsective)
                @Html.ValidationMessageFor(model => model.MaxDaysConsective)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MaxDaysMonth, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MaxDaysMonth)
                @Html.ValidationMessageFor(model => model.MaxDaysMonth)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
