@model WMS.Models.LvType

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>LvType</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LvDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LvDesc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FldName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FldName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HalfLeave)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HalfLeave)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HalfLvCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HalfLvCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HalfAbCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HalfAbCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaxDays)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaxDays)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdateBalance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdateBalance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Enable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Enable)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CarryForward)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CarryForward)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CarryForwardYear)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CarryForwardYear)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CarryForwardDays)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CarryForwardDays)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CountGZDays)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CountGZDays)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CountRestDays)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CountRestDays)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaxDaysConsective)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaxDaysConsective)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaxDaysMonth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaxDaysMonth)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.LvTypeID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
