@model IEnumerable<WMS.Models.LvType>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
      <form class ="form-inline" role="form">
          <div class="form-group"> <h3>Leave Types</h3> </div>
          
      </form>  
    </div>
 <div class="table-responsive">
        <table class="table table-bordered table-hover  table-condensed">
            <tr class="table-header">
        <th>
           Name
        </th>
        <th>
            Report Legend
        </th>
        <th>
            Half Leave
        </th>
        <th>
            Days
        </th>
        <th>
            Update Balance
        </th>
        <th>
            Enable
        <th>Edit | View</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.LvDesc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FldName)
        </td>
        <td>
            @if(item.HalfLeave==true)
            {<span>Yes</span>}
            else{<span>No</span>}
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaxDays)
        </td>
        <td>
           @if(item.UpdateBalance==true)
            {<span>Yes</span>}
            else{<span>No</span>}
        </td>
        <td>
            @if(item.HalfLeave==true)
            {<span>Active</span>}
            else{<span>Inactive</span>}
        </td>
         <td>
            @Html.ActionLink(" ", "Edit", new { id=item.LvTypeID }, new { @class = "glyphicon glyphicon-pencil btn btn-warning btn-xs" }) 
            @Html.ActionLink(" ", "Details", new { id=item.LvTypeID }, new { @class = "glyphicon glyphicon-list btn btn-info btn-xs" }) 
        </td>
    </tr>
}
</div>
</table>
