@model WMS.Controllers.LeaveQuotaModel
@{
    ViewBag.Title = "AdjustLeaves";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AdjustLeaves</h2>
 @using (Html.BeginForm("AdjustLeaves", "LeaveSettings", FormMethod.Post))
        {
        <article class="row">
            <section class="col-md-6">
                <div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>ID</label>
                        </div>
                        <div class="col-md-6">
                            <input id="aEmpID" name="aEmpID"  value="@Model.EmpID" disabled class="form-control"/>
                            <input id="EmpID" name="EmpID"  value="@Model.EmpID" type="hidden" class="form-control"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Emp No</label>
                        </div>
                        <div class="col-md-6">
                            <input id="EmpNo" name="EmpNo"  value="@Model.EmpNo" disabled class="form-control"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Emp Name</label>
                        </div>
                        <div class="col-md-6">
                            <input id="EmpName" name="EmpName"  value="@Model.EmpName" disabled class="form-control"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Section</label>
                        </div>
                        <div class="col-md-6">
                            <input id="Section" name="SecName"  value="@Model.SectionName" disabled class="form-control"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Casual Leaves</label>
                        </div>
                        <div class="col-md-6">
                            <input id="CLeaves" name="CLeaves" type="number" value="@Model.CL" class="form-control"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Annual Leaves</label>
                        </div>
                        <div class="col-md-6">
                            <input id="ALeaves" name="ALeaves" type="number" value="@Model.AL" class="form-control"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Sick Leaves</label>
                        </div>
                        <div class="col-md-6">
                            <input id="SLeaves" name="SLeaves" type="number" value="@Model.SL" class="form-control"/>
                        </div>
                    </div>
                </div>
                <p class="ErorrMessage">@ViewBag.CMessage</p>
                <div class="row" style="margin-left:10%; margin-bottom:3%">
                    <div class="col-md-6">
                    </div>
                    <div class="col-md-6">
                        <input type="submit" value="Save"  class="btn btn-sm btn-success"/>
                    </div>
                </div>
            </section>
            <section class="col-md-6">

            </section>
        </article>
        }
