@model IEnumerable<WMS.Controllers.LeaveQuotaModel>
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Leave Quota";
}

    <div>
      <form class ="form-inline" role="form">
          <div class="form-group"> <h2>Leaves Quota</h2> </div>
          <div class="form-group pull-right"  style="margin-top:15px">
              @using (Html.BeginForm("Index", "LeaveQuota", FormMethod.Get))
                {<p><span style="font-weight:bold">Find: </span>  @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control" } )  
                    <input class="btn btn-sm btn-success" type="submit" value="Search" /></p>}
          </div> 
      </form>  
       
    </div>
 <table class="table table-bordered table-hover  table-condensed">
   <tr class="table-header">
    
        <th>
            Emp No
        </th>
        <th>
           Name 
        </th>
        <th>
           Section 
        </th>
        <th>
           Annual 
        </th>
        <th>
           Casual 
        </th>
        <th>
           Sick 
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EmpNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmpName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SectionName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CL)
        </td>
         <td>
            @Html.DisplayFor(modelItem => item.SL)
        </td>
        <td>
           @* @Html.ActionLink("Edit", "Edit", new { id=item.GradeID }) |
            @Html.ActionLink("Details", "Details", new { id=item.GradeID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.GradeID })*@
        </td>
    </tr>
}

</table>
 

