@*@model IEnumerable<WMSModel.Grade>*@
@model PagedList.IPagedList<WMS.Models.Grade>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Grade";
}
<div>
    <form class ="form-inline" role="form">
        <div class="form-group"> <h3>Grades</h3> </div>
        <div class="form-group CreateBtnMargin"><p>@Html.ActionLink("Create New", "Create",null,new { @class = "btn btn-xs btn-success" })</p></div>
        <div class="form-group pull-right SearchBtnMargin">
            @using (Html.BeginForm("Index", "Grade", FormMethod.Get))
            {<p>Find: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control"})  
                <input class="btn btn-sm btn-success" type="submit" value="Search" /></p>}
        </div> 
    </form>  
</div>

 <div class="table-responsive">
        <table class="table table-bordered table-hover  table-condensed">
            <tr class="table-header">
        <th>
            @Html.ActionLink("Grade", "Index", new { sortOrder = ViewBag.NameSortParm })
        </th>
      
        <th>Edit|View|Delete</th>
    </tr>

@foreach (var item in Model) {
    <tr >
        <td>
            @Html.DisplayFor(modelItem => item.GradeName)
        </td>
       
        <td>
            @Html.ActionLink(" ", "Edit", new { id=item.GradeID }, new { @class = "glyphicon glyphicon-pencil btn btn-warning btn-xs" }) 
            @Html.ActionLink(" ", "Details", new { id=item.GradeID }, new { @class = "glyphicon glyphicon-pencil btn btn-info btn-xs" }) 
            @Html.ActionLink(" ", "Delete", new { id=item.GradeID }, new { @class = "glyphicon glyphicon-trash btn btn-danger btn-xs" })
        </td>
    </tr>
}

</table></div>
<div class="form-inline">
          <div class="form-group ">@Html.PagedListPager(Model, page => Url.Action("Index", 
                new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))</div>
          <div class="form-group pull-right">Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount</div>
</div>