@model WMS.Models.Designation

@{
    ViewBag.Title = "Edit";
}

 <div>
      <form class ="form-inline" role="form">
          <div class="form-group "> <h2>Edit Designation</h2> </div>
      </form>  
    </div>
 <hr />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.DesignationID)

        <div class="form-group">
            <div class="control-label col-md-2">Designation Name</div>
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.DesignationName, new { @class = "form-control"})
                @Html.ValidationMessageFor(model => model.DesignationName)
            </div>
        </div>

         <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default btn-success" />
              @Html.ActionLink("Back to List", "Index",null,new { @class = "btn btn-primary " })
            </div>
        </div>
    </div>
}