
@{
    ViewBag.Title = "RosterEdit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Roster Edit</h2>


@{
    ViewBag.Title = "Roster";
}
<div>
   <p>Edit roster for <b>@Model.Criteria</b> : <b>@Model.CriteriaValueName</b> </p>
   <p>Roster will only be applied to the employees of the <b>@Model.ShiftName</b> shift</p>
</div>
@using (Html.BeginForm("EditRosterSave", "Roster", FormMethod.Post))
{
    
    <input hidden type="text" name="criteria" id="critera" value="@Model.Criteria" />
    <input hidden type="text" name="criteriaValue" id="criteriaValue" value="@Model.CriteriaValue" />
    <input hidden type="text" name="shiftId" id="shiftId" value="@Model.ShiftID" />
    <input hidden type="text" name="noOfDays" id="noOfDays" value="@Model.NoOfDays" />
    <input hidden type="text" name="startDate" id="startDate" value="@Model.StartDate" />
    <input hidden type="text" name="RotaAppID" id="RotaAppID" value="@Model.RotaAppID" />
    var grid = new WebGrid(Model._RosterAttributes, canSort: false, canPage: false);
    int rowNum = 0;
    <div>
        @grid.GetHtml(columns:
            grid.Columns
            (
                grid.Column("Sr.No", format: item => rowNum = rowNum + 1),
                grid.Column("Day", format: item => (string)item.Day),
                grid.Column("Date", format: (item) => Html.Label("StudentList" + (rowNum - 1).ToString() + "DateLabel", (string)item.DateString)),
                grid.Column("", format: (item) => Html.TextBox("StudentList" + (rowNum - 1).ToString() + "Date", (string)item.DateString, new { @hidden = true })),
                grid.Column("Duty Time", format: (item) => Html.TextBox("StudentList" + (rowNum - 1).ToString() + "DutyTime", (string)item.DutyTimeString)),
                grid.Column("Work Minutes", format: (item) => Html.TextBox("StudentList" + (rowNum - 1).ToString() + "WorkMin", (object)item.WorkMin))
            ), mode: WebGridPagerModes.Numeric)
    </div>
    <input type="submit" value="Submit" />
}
<style type="text/css">
    table
    {
        font-family: verdana,arial,sans-serif;
        font-size: 11px;
        color: #333333;
        border-width: 1px;
        border-color: #666666;
        border-collapse: collapse;
    }
    table th
    {
        border-width: 1px;
        padding: 8px;
        border-style: solid;
        border-color: #666666;
        background-color: #dedede;
    }
    table td
    {
        border-width: 1px;
        padding: 8px;
        border-style: solid;
        border-color: #666666;
        background-color: #ffffff;
    }
    input
    {
        width:100px;
    }
</style>