@model IEnumerable<WMS.Controllers.RosterApplication>

@{
    ViewBag.Title = "RosterAppIndex";
}

<h3>Roster Application List</h3>

<p>
    @Html.ActionLink("Back to List", "Index",null,new { @class = "btn btn-primary " })
</p>
<table class="table table-bordered table-hover table-condensed" >
    <tr class="table-header">
        <th>
            Name
        </th>
        <th>
            Start
        </th>
         <th>
            End
        </th>
        <th>
            Criteria
        </th>
        <th>
            Cariteria Value
        </th>
        @*<th>
            Work Mins
        </th>
        <th>
            Duty Time
        </th>*@
        <th>
            Roster Type
        </th>
        <th>
            Shift
        </th>
        <th>Options</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @item.Name
        </td>
        <td>
            @item.DateStarted.Value.ToString("dd-MMM-yyyy")
        </td>
        <td>
           @item.DateEnded.Value.ToString("dd-MMM-yyyy")
        </td>
        <td>
            @switch (item.RosterCriteria)
            {
                case "S":
                    <p>Shift</p>
                    break;
                case "C":
                    <p>Crew</p>
                    break;
                case "T":
                    <p>Section</p>
                    break;
                case "E":
                    <p>Employee</p>
                    break;
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CriteriaData)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.WorkMin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DutyTime)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.RosterType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Shift)
        </td>
@*        <td>
            @Html.ActionLink("Details", "RosterDetail", new { id=item.RotaApplD })
        </td>
        <td>
            @Html.ActionLink("Continue", "RosterContinue", new { id=item.RotaApplD })
        </td>
         <td>
            @Html.ActionLink("Delete", "RosterDelete", new { id=item.RotaApplD })

        </td>
        <td>
            @Html.ActionLink("Edit", "RosterEdit", new { id=item.RotaApplD })

        </td>*@
        <td>@Html.DropDownList(
    "url",
    new SelectList(new[]
    {
        new SelectListItem { Text = "Details", Value = Url.Action("RosterDetail", "Roster", new { id=item.RotaApplD }) },
        new SelectListItem { Text = "Continue", Value = Url.Action("RosterContinue", "Roster", new { id=item.RotaApplD }) },
        new SelectListItem { Text = "Edit", Value = Url.Action("RosterEdit", "Roster", new { id=item.RotaApplD }) },
        new SelectListItem { Text = "Delete", Value = Url.Action("RosterDelete", "Roster", new { id=item.RotaApplD }) },
    }, "Value", "Text"),
    "Options",
    new { @class = "urlddl" }
)</td>
    </tr>
}

</table>
<script type="text/javascript">
    $(function () {
        $(".urlddl").on('change', function () {
            var url = $(this).val();
            if (url != null && url != '') {
                window.location.href = url;
            }
        });
    });
</script>