@model IEnumerable<WMS.Controllers.RosterApplication>

@{
    ViewBag.Title = "RosterAppIndex";
}

<h3>Roster Application List</h3>

<p>
    @Html.ActionLink("Back", "Index")
</p>
<table class="table">
    <tr>
        <th>
            Start
        </th>
         <th>
            End
        </th>
        <th>
            Criteria
        </th>
        <th>
            Cariteria Value
        </th>
        <th>
            Work Mins
        </th>
        <th>
            Duty Time
        </th>
        <th>
            Roster Type
        </th>
        <th>
            Shift
        </th>
        <th>Details</th>
        <th>Continue</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @item.DateStarted.Value.ToString("dd-MMM-yyyy")
        </td>
        <td>
           @item.DateEnded.Value.ToString("dd-MMM-yyyy")
        </td>
        <td>
            @switch (item.RosterCriteria)
            {
                case "S":
                    <p>Shift</p>
                    break;
                case "C":
                    <p>Crew</p>
                    break;
                case "T":
                    <p>Section</p>
                    break;
                case "E":
                    <p>Employee</p>
                    break;
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CriteriaData)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WorkMin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DutyTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RosterType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Shift)
        </td>
        <td>
            @Html.ActionLink("Details", "RosterDetail", new { id=item.RotaApplD })
        </td>
        <td>
            @Html.ActionLink("Continue", "RosterContinue", new { id=item.RotaApplD })
        </td>
         <td>
            @Html.ActionLink("Delete", "RosterDelete", new { id=item.RotaApplD })
        </td>
    </tr>
}

</table>
