@model WMS.Models.Region

@{
    ViewBag.Title = "Create";
}

<div>
      <form class ="form-inline" role="form">
          <div class="form-group "> <h3>Add Region</h3> </div>
      </form>  
    </div>
 <hr />

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @Html.ValidationSummary(true)

        <div class="form-group">
            <div class="control-label col-md-2">Region Name</div>
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.RegionName,new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.RegionName)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default btn-success" />
                 @Html.ActionLink("Back to List", "Index",null,new { @class = "btn btn-primary " })
             </div>
        </div>
    </div>
}