@model WMS.Models.Reader

@{
    ViewBag.Title = "Edit";
}
 <div>
      <form class ="form-inline" role="form">
          <div class="form-group "> <h2>Edit Reader Configuration</h2> </div>
      </form>  
    </div>
 <hr />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.RdrID)

        <div class="form-group">
            <div class="control-label col-md-2">Reader Name</div>
            <div class="col-md-3">
                @Html.TextBoxFor(model => model.RdrName,new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.RdrName)
            </div>
        </div>

        <div class="form-group">
           <div class="control-label col-md-2">Reader Duty</div>
            <div class="col-md-10">
                @Html.DropDownList("RdrDutyID",null,new { @class = "btn btn-default dropdown-toggle dropdown ComboBoxWidth"})
                @Html.ValidationMessageFor(model => model.RdrDutyID)
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2">IP Address</div>
            <div class="col-md-3">
                @Html.TextBoxFor(model => model.IpAdd,new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.IpAdd)
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2">IP Port</div>
            <div class="col-md-3">
                @Html.TextBoxFor(model => model.IpPort,new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.IpPort)
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2">Reader Type</div>
            <div class="col-md-10">
                @Html.DropDownList("RdrTypeID",null,new { @class = "btn btn-default dropdown-toggle dropdown ComboBoxWidth"})
                @Html.ValidationMessageFor(model => model.RdrTypeID)
            </div>
        </div>
       
        <div class="form-group">
            <div class="control-label col-md-2">Location</div>
            <div class="col-md-10">
                @Html.DropDownList("LocID",null,new { @class = "btn btn-default dropdown-toggle dropdown ComboBoxWidth"})
                @Html.ValidationMessageFor(model => model.LocID)
            </div>
        </div>

         <div class="form-group">
            <div class="control-label col-md-2">Status</div>
            <div class="col-md-10">
                 @Html.DropDownList("Status", new List<SelectListItem>
                                    { 
                                        new SelectListItem { Text = "Active", Value = "true", Selected=true},
                                        new SelectListItem { Text = "Inactive", Value = "false"}
                                    },new { @class = "btn btn-default dropdown-toggle dropdown ComboBoxWidth"})
                @Html.ValidationMessageFor(model => model.Status)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default btn-success" />
              @Html.ActionLink("Back to List", "Index",null,new { @class = "btn btn-primary " })
            </div>
        </div>
    </div>
}

