@model WMS.Models.Emp

@{
    ViewBag.Title = "Edit Employee";
}
<script type="text/javascript">
    function fileCheck(obj) {
        var fileExtension = ['jpeg', 'jpg', 'png', 'gif', 'bmp'];
        if ($.inArray($(obj).val().split('.').pop().toLowerCase(), fileExtension) == -1) {
            alert("Only '.jpeg','.jpg', '.png', '.gif', '.bmp' formats are allowed.");
        }
    }
</script>
<p>
</p>
 <div>
      <form class ="form-inline" role="form">
          <div class="form-group "> <h2>Edit Employee</h2> </div>
      </form>  
    </div>
 <hr />
@using (Html.BeginForm("Edit","Emp", FormMethod.Post, new { enctype ="multipart/form-data" }))
{
    @Html.AntiForgeryToken()
     <div class="form-horizontal">
       <section class ="col-sm-6 col-md-6"> 
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.EmpID)
           <div style="color:red">@ViewBag.Message</div>
            <div class="form-group">
                <label class="control-label col-md-3">Employee No<span style="color:red;"> *</span></label>
                <div class="col-md-6">
                    @Html.TextBoxFor(model => model.EmpNo, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.EmpNo)
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3">Employee Name<span style="color:red;"> *</span></label>
                    <div class="col-md-6">
                        @Html.TextBoxFor(model => model.EmpName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.EmpName)
                    </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3">Select Emp Photo</label>
                <div class="col-md-3">
                    <input type="file" name="ImageData" id="ImageData" onchange="fileCheck(this);" />
                    <div class="upload-file-notice">Maximum size: <span id="avatar-max-size"></span> MB</div>
                </div>
            </div>
        </section>
       <section class="col-md-12">
            <div class="form-group pull-left">
                <ul class="nav nav-tabs" role="tablist" id="myTab">
                    <li class="active"><a href="#home" role="tab" data-toggle="tab">Job</a></li>
                    <li><a href="#profile" role="tab" data-toggle="tab">Personel</a></li>
                </ul> 
            </div>
        </section>
      <div class="tab-content">
            <div class="tab-pane active fade in active" id="home">
                <p></p>
                 <div class="Outer">
                    <div class="InnerLeft1">   
                         
                        <div class="form-group" id="EmpTypeDivID">
                            <div class = "control-label col-md-3">
                                <label for="EmpType">Employee Type</label>
                            </div>
                            <div class="col-md-3 ">
                                  @Html.DropDownList("TypeID",null,new { @class = "btn btn-default dropdown-toggle dropdown ComboBoxWidth"})
                                  @Html.HiddenFor(model => model.EmpType.TypeID , new { id = "selectedTypeIdHidden" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Designation</label>
                            <div class="col-md-3">
                                 @Html.DropDownList("DesigID",null,new { @class = "btn btn-default dropdown-toggle dropdown ComboBoxWidth"})
                                 @Html.HiddenFor(model => model.DesigID , new { id = "selectedDesigIDHidden" })     
                            </div>
                        </div>

                         <div class="form-group">
                            <label class="control-label col-md-3">Shift</label>
                            <div class="col-md-3">
                                @Html.DropDownList("ShiftID",null,new { @class = "btn btn-default dropdown-toggle dropdown ComboBoxWidth"})
                                @Html.ValidationMessageFor(model => model.ShiftID)
                            </div>
                        </div>


                        <div class="form-group" id="DeptDivID">
                            <div class = "control-label col-md-3">
                                <label for="Deptartment">Department</label>
                            </div>
                            <div class="col-md-3 ">
                                @Html.DropDownList("DeptID",null,new { @class = "btn btn-default dropdown-toggle dropdown ComboBoxWidth"})
                                @Html.HiddenFor(model => model.Section.DeptID , new { id = "selectedDeptIDHidden" })      
                            </div>
                        </div>

                        <div class="form-group" id="SectionDivID">
                            <div class = "control-label col-md-3">
                                <label for="Section">Section</label>
                            </div>
                            <div class="col-md-3 ">
                             <select class="btn btn-default dropdown-toggle dropdown ComboBoxWidth" id="SecID" name="SecID"></select>
                        @Html.HiddenFor(model => model.SecID , new { id = "selectedSectionIdHidden" })          
                            </div>
                        </div>

                         <div class="form-group">
                            <label class="control-label col-md-3">Location</label>
                            <div class="col-md-3">
                                @Html.DropDownList("LocID",null,new { @class = "btn btn-default dropdown-toggle dropdown ComboBoxWidth"})
                                @Html.ValidationMessageFor(model => model.LocID)
                            </div>
                         </div>                
                    </div>

                    <div class="InnerRight1">
                        <div class="form-group" id="GradesDivID">
                            
                        </div>
                       
                         <div class="form-group">
                            <label class="control-label col-md-3">Status</label>
                            <div class="col-md-3">
                                @Html.DropDownList("Status", new List<SelectListItem>
                                    { 
                                        new SelectListItem { Text = "Active", Value = "true", Selected=true},
                                        new SelectListItem { Text = "Inactive", Value = "false"}
                                    },new { @class = "btn btn-default dropdown-toggle dropdown ComboBoxWidth"}) 
                                @Html.ValidationMessageFor(model => model.Status)
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Over Time</label>
                            <div class="col-md-3">
                                @Html.DropDownList("HasOT", new List<SelectListItem>
                                    { 
                                        new SelectListItem { Text = "Enable", Value = "true", Selected=true},
                                        new SelectListItem { Text = "Disable", Value = "false"}
                                    },new { @class = "btn btn-default dropdown-toggle dropdown ComboBoxWidth"}) 
                                @Html.ValidationMessageFor(model => model.HasOT)
                            </div>
                        </div> 
                        <div class="form-group">
                            <label class="control-label col-md-3">Card No</label>
                            <div class="col-md-6">
                                @Html.TextBoxFor(model => model.CardNo, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.CardNo)
                            </div>
                        </div>

                     </div>
                </div>
                
            </div> @*// div of tab*@

            <div class="tab-pane fade" id="profile">
                <p></p>
                <div class="Outer">
                    <div class="InnerLeft1">

                        <div class="form-group">
                           <label class="control-label col-md-3">Father Name</label>
                            <div class="col-md-4">
                                @Html.TextBoxFor(model => model.FatherName, new { @class = "form-control"})
                                @Html.ValidationMessageFor(model => model.FatherName)
                            </div>
                         </div>

                        <div class="form-group">
                            <label class="control-label col-md-3">Blood Group</label>
                            <div class="col-md-4">
                                @Html.TextBoxFor(model => model.BloodGroup, new { @class = "form-control"})
                                @Html.ValidationMessageFor(model => model.BloodGroup)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Gender, new { @class = "control-label col-md-3" })
                            <div class="col-md-4">
                                @Html.DropDownList("Status", new List<SelectListItem>
                                    { 
                                        new SelectListItem { Text = "Male", Value = "0", Selected=true},
                                        new SelectListItem { Text = "Female", Value = "1"},                                        new SelectListItem { Text = "Not Mentioned", Value = "2"}
                                    },new { @class = "btn btn-default dropdown-toggle dropdown ComboBoxWidthSmall"}) 
                                @Html.ValidationMessageFor(model => model.Gender)
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3">CNIC No</label>
                            <div class="col-md-4">
                                @Html.TextBoxFor(model => model.NicNo, new { @class = "form-control"})
                                @Html.ValidationMessageFor(model => model.NicNo)
                            </div>
                        </div>

                         <div class="form-group">
                            <label class="control-label col-md-3">Date Of Birth</label>
                            <div class="col-md-4">
                                @Html.EditorFor(model =>model.BirthDate)
                                @Html.ValidationMessageFor(model => model.BirthDate)
                            </div>
                         </div>

                        <div class="form-group">
                            <label class="control-label col-md-3">Martial Status</label>
                            <div class="col-md-4">
                                @Html.DropDownList("MarStatus", new List<SelectListItem>
                                    { 
                                        new SelectListItem { Text = "Single", Value = "Single", Selected=true},
                                        new SelectListItem { Text = "Married", Value = "Married"},
                                         new SelectListItem { Text = "Widowed", Value = "Widowed"},
                                          new SelectListItem { Text = "Divorced", Value = "Divorced"}
                                    },new { @class = "btn btn-default dropdown-toggle dropdown ComboBoxWidthSmall"}) 
                                @Html.ValidationMessageFor(model => model.MarStatus)
                            </div>
                        </div>

                         <div class="form-group">
                            <label class="control-label col-md-3">Home Address</label>
                            <div class="col-md-4">
                                @Html.TextBoxFor(model => model.HomeAdd, new { @class = "form-control"})
                                @Html.ValidationMessageFor(model => model.HomeAdd)
                            </div>
                        </div>
                    </div>

                    <div class="InnerRight1">
                        <div class="form-group">
                            <label class="control-label col-md-3">Join Date</label>
                            <div class="col-md-4">
                                @Html.EditorFor(model => model.JoinDate, new { @class = "form-control"})
                                @Html.ValidationMessageFor(model => model.JoinDate)
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3">Valid Date</label>
                            <div class="col-md-4">
                                @Html.EditorFor(model => model.ValidDate, new { @class = "form-control"})
                                @Html.ValidationMessageFor(model => model.ValidDate)
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3">Phone No</label>
                            <div class="col-md-4">
                                @Html.TextBoxFor(model => model.PhoneNo, new { @class = "form-control"})
                                @Html.ValidationMessageFor(model => model.PhoneNo)
                            </div>
                       </div>
            
                        <div class="form-group">
                            <label class="control-label col-md-3">Cell No</label>
                            <div class="col-md-4">
                                @Html.TextBoxFor(model => model.CellNo, new { @class = "form-control"})
                                @Html.ValidationMessageFor(model => model.CellNo)
                            </div>
                         </div>

                        <div class="form-group">
                        <label class="control-label col-md-3">E-mail</label>
                        <div class="col-md-4">
                            @Html.TextBoxFor(model => model.Email, new { @class = "form-control"})
                            @Html.ValidationMessageFor(model => model.Email)
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3">Remarks</label>
                        <div class="col-md-4">
                            @Html.TextBoxFor(model => model.Remarks, new { @class = "form-control"})
                            @Html.ValidationMessageFor(model => model.Remarks)
                        </div>
                    </div>
                 </div>
                </div>
             </div> @*end of div tab*@
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default btn-success" />
              @Html.ActionLink("Back to List", "Index",null,new { @class = "btn btn-primary " })
            </div>
        </div>
    </div>
}


<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<link href="~/Content/site.avatar.css" rel="stylesheet" type="text/css" />
<link href="~/Content/jquery.jcrop.css" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/Employee/companyGrade.js")"></script>
<script src="@Url.Content("~/Scripts/Employee/wingSection.js")"></script>
<script src="@Url.Content("~/Scripts/Employee/empType.js")"></script>
<script src="@Url.Content("~/Scripts/Employee/crewCompany.js")"></script>
<script src="@Url.Content("~/Scripts/Employee/desigCompany.js")"></script>

