@model WMS.Models.RosterApp

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>RosterApp</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateCreated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateStarted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateStarted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateEnded)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateEnded)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RosterCriteria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RosterCriteria)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CriteriaData)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CriteriaData)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WorkMin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkMin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DutyTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DutyTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RosterType.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RosterType.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Shift.ShiftName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Shift.ShiftName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RotaApplD }) |
    @Html.ActionLink("Back to List", "Index")
</p>
