@model IEnumerable<WMS.Models.JobCardApp>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DateCreated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateStarted)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateEnded)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CardType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JobCardCriteria)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CriteriaData)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimeIn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimeOut)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WorkMin)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DateCreated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateStarted)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateEnded)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CardType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JobCardCriteria)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CriteriaData)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TimeIn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TimeOut)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WorkMin)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.JobCardID }) |
            @Html.ActionLink("Details", "Details", new { id=item.JobCardID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.JobCardID })
        </td>
    </tr>
}

</table>
