@model WMS.Models.RosterDetail

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>RosterDetail</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.CriteriaValueDate)

        <div class="form-group">
            @Html.LabelFor(model => model.RosterAppID, "RosterAppID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("RosterAppID", String.Empty)
                @Html.ValidationMessageFor(model => model.RosterAppID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DutyCode, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DutyCode)
                @Html.ValidationMessageFor(model => model.DutyCode)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DutyTime, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DutyTime)
                @Html.ValidationMessageFor(model => model.DutyTime)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.WorkMin, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.WorkMin)
                @Html.ValidationMessageFor(model => model.WorkMin)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Remarks, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Remarks)
                @Html.ValidationMessageFor(model => model.Remarks)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CompanyID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CompanyID)
                @Html.ValidationMessageFor(model => model.CompanyID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OpenShift, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OpenShift)
                @Html.ValidationMessageFor(model => model.OpenShift)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RosterDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RosterDate)
                @Html.ValidationMessageFor(model => model.RosterDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UserID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UserID)
                @Html.ValidationMessageFor(model => model.UserID)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
