@model WMS.Models.AttProcessorScheduler

@{
    ViewBag.Title = "Create";
}

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Attendance Processor</legend>
 <div class="form-horizontal">
     <div class="form-group">
            <div class="control-label col-md-2">Process Type</div>
            <div class="col-md-10">
               @Html.DropDownList("PeriodTag",null,new { @class = "btn btn-default dropdown-toggle dropdown ComboBoxWidth"})
    @Html.ValidationMessageFor(model => model.PeriodTag)
            </div>
         </div>
     <div id="CriteriaID">
      <div class="form-group">
            <div class="control-label col-md-2">Criteria</div>
            <div class="col-md-10">
              @Html.DropDownList("CriteriaID",null,new { @class = "btn btn-default dropdown-toggle dropdown ComboBoxWidth"})
            </div>
        </div>
         </div>
     <div id="company">
	<div class="form-group" >
            <div class="control-label col-md-2">Company</div>
            <div class="col-md-10">
              @Html.DropDownList("CompanyID",null,new { @class = "btn btn-default dropdown-toggle dropdown ComboBoxWidth"})
                        @Html.ValidationMessageFor(model => model.CompanyID)
            </div>
        </div>
         </div>
     <div id="location">
     <div class="form-group" >
            <div class="control-label col-md-2">Location</div>
            <div class="col-md-10">
              @Html.DropDownList("LocationID",null,new { @class = "btn btn-default dropdown-toggle dropdown ComboBoxWidth"})
                    @Html.ValidationMessageFor(model => model.Location.LocID)
            </div>
        </div>
         </div>
     <div id="CatProcess">
     <div class="form-group" >
            <div class="control-label col-md-2">Process Category</div>
            <div class="col-md-10">
              @Html.DropDownList("ProcessCats",null,new { @class = "btn btn-default dropdown-toggle dropdown ComboBoxWidth"})
            </div>
        </div>
         </div>
     <div id="CategoryID">
     <div class="form-group">
            <div class="control-label col-md-2">Category</div>
            <div class="col-md-10">
             @Html.DropDownList("CatID",null,new { @class = "btn btn-default dropdown-toggle dropdown ComboBoxWidth"})
                    @Html.ValidationMessageFor(model => model.Category.CatID)
            </div>
        </div>
         </div>
     <div class="form-group" >
            <div class="control-label col-md-2">From</div>
            <div class="col-md-10">
            @Html.EditorFor(model => model.DateFrom,@DateTime.Today.ToString("dd-MMM-yyyy"))
                @Html.ValidationMessageFor(model => model.DateFrom)
            </div>
        </div>
     <div class="form-group" >
            <div class="control-label col-md-2">To</div>
            <div class="col-md-10">
            @Html.EditorFor(model => model.DateTo,@DateTime.Today.ToString("dd-MMM-yyyy"))
                @Html.ValidationMessageFor(model => model.DateTo)
            </div>
        </div>
     </div>
        <p>
            <input type="submit" value="Create" class="btn btn-default" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>



<script src="@Url.Content("~/Scripts/ProcessAtt/CriteriaValueAttProcessor.js")"></script>