@model WMS.Models.AttProcessorScheduler

@{
    ViewBag.Title = "Create";
}

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

       <br />
    <fieldset>
     

        <legend>Attendance Processor</legend>
 <div class="form-horizontal">
     <div class="form-group">
            <div class="control-label col-md-2">Process Type</div>
            <div class="col-md-10">
               @Html.DropDownList("PeriodTag",null,new { @class = "btn btn-default dropdown-toggle dropdown ComboBoxWidth"})
    @Html.ValidationMessageFor(model => model.PeriodTag)
            </div>
         </div>
     <div id="CriteriaID">
      <div class="form-group">
            <div class="control-label col-md-2">Criteria</div>
            <div class="col-md-10">
              @Html.DropDownList("CriteriaID",null,new { @class = "btn btn-default dropdown-toggle dropdown ComboBoxWidth"})
            </div>
        </div>
         </div>
     <div id="location">
     <div class="form-group" >
            <div class="control-label col-md-2">Location</div>
            <div class="col-md-10">
              @Html.DropDownList("LocationID",null,new { @class = "btn btn-default dropdown-toggle dropdown ComboBoxWidth"})
                    @Html.ValidationMessageFor(model => model.LocationID)
            </div>
        </div>
    </div>
    <div id="employee">
        <div class="form-group" >
            <div class="control-label col-md-2">Employee No</div>
            <div class="col-md-10">
              @Html.TextBox("EmpNo",null,new { @class = "form-control"})
            </div>
        </div>
    </div>
     <div class="form-group" >
            <div class="control-label col-md-2">From</div>
            <div class="col-md-3">
            @Html.EditorFor(model => model.DateFrom,@DateTime.Today.ToString("dd-MMM-yyyy"))
                @Html.ValidationMessageFor(model => model.DateFrom)
            </div>
        </div>
     <div class="form-group" >
            <div class="control-label col-md-2">To</div>
            <div class="col-md-3">
            @Html.EditorFor(model => model.DateTo,@DateTime.Today.ToString("dd-MMM-yyyy"))
                @Html.ValidationMessageFor(model => model.DateTo)
            </div>
        </div>
    
       <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default btn-success" />
                 @Html.ActionLink("Back to List", "Index",null,new { @class = "btn btn-primary " })
            </div>
        </div>
     </div>
       
    </fieldset>
}





<script src="@Url.Content("~/Scripts/ProcessAtt/CriteriaValueAttProcessor.js")"></script>