@model WMS.Models.AttProcessorScheduler

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>AttProcessor</legend>

    <div class="display-label">PeriodTag</div>
    <div class="display-field">@Model.PeriodTag</div>

    <div class="display-label">DateFrom</div>
    <div class="display-field">@String.Format("{0:g}", Model.DateFrom)</div>

    <div class="display-label">DateTo</div>
    <div class="display-field">@String.Format("{0:g}", Model.DateTo)</div>

    <div class="display-label">ProcessingDone</div>
    <div class="display-field">@Model.ProcessingDone</div>

    <div class="display-label">WhenToProcess</div>
    <div class="display-field">@String.Format("{0:g}", Model.WhenToProcess)</div>

    <div class="display-label">MonthPeriod</div>
    <div class="display-field">@Model.MonthPeriod</div>

    <div class="display-label">CompanyID</div>
    <div class="display-field">@Model.CompanyID</div>

    <div class="display-label">LocationID</div>
    <div class="display-field">@Model.LocationID</div>

    <div class="display-label">CatID</div>
    <div class="display-field">@Model.CatID</div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}


