@model WMS.Models.AttProcessorScheduler

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>AttProcessor</legend>

    <div class="display-label">PeriodTag</div>
    <div class="display-field">@Model.PeriodTag</div>

    <div class="display-label">DateFrom</div>
    <div class="display-field">@String.Format("{0:g}", Model.DateFrom)</div>

    <div class="display-label">DateTo</div>
    <div class="display-field">@String.Format("{0:g}", Model.DateTo)</div>

    <div class="display-label">ProcessingDone</div>
    <div class="display-field">@Model.ProcessingDone</div>

    <div class="display-label">WhenToProcess</div>
    <div class="display-field">@String.Format("{0:g}", Model.WhenToProcess)</div>

    <div class="display-label">MonthPeriod</div>
    <div class="display-field">@Model.MonthPeriod</div>

    <div class="display-label">CompanyID</div>
    <div class="display-field">@Model.CompanyID</div>

    <div class="display-label">LocationID</div>
    <div class="display-field">@Model.LocationID</div>

    <div class="display-label">CatID</div>
    <div class="display-field">@Model.CatID</div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.AttProcessorID }) |
    @Html.ActionLink("Back to List", "Index")
</p>


