@*@model IEnumerable<WMS.Models.AttProcessor>*@
@model PagedList.IPagedList<WMS.Models.AttProcessorScheduler>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Attendance Processor";
}

<div>
    <div>
      <form class ="form-inline" role="form">
          <div class="form-group"> <h2>Attendance Processor</h2> </div>
          <div class="form-group CreateBtnMargin"><p>@Html.ActionLink("Create New", "Create",null,new { @class = "btn btn-xs btn-success" })</p></div>
          <div class="form-group pull-right"  style="margin-top:15px">
              @using (Html.BeginForm("Index", "AttProcessor", FormMethod.Get))
                {<p><span style="font-weight:bold">Find: </span>  @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control" } )  
                    <input class="btn btn-sm btn-success" type="submit" value="Search" /></p>}
          </div> 
      </form>  
       
    </div>
<div>
<div class="table-responsive">

<table class="table table-bordered table-hover  table-condensed">
    <tr class="table-header">
        
        <th>
             @Html.ActionLink("Process Type", "Index", new { sortOrder = ViewBag.TagSortParm })
        </th>
        <th>
            @Html.ActionLink("From", "Index", new { sortOrder = ViewBag.FromSortParm })
        </th>
        <th>
            @Html.ActionLink("To", "Index", new { sortOrder = ViewBag.ToSortParm })
        </th>
         <th>
            Criteria
    
        </th>
        <th>
            Value
    
        </th>
        <th>
              @Html.ActionLink("Category", "Index", new { sortOrder = ViewBag.CatSortParm })
    
        </th>
        <th>
             Status
    
        </th>
        <th>
             Created Date
    
        </th>
        <th>
             Created By
    
        </th>
@*<th style="width:90px">Edit|View|Delete</th>*@
    </tr>

@foreach (var item in Model) {
    <tr>
       
        <td>
			@if(item.PeriodTag== "S"){
                <div>Summary</div>}
            @if(item.PeriodTag== "M"){
                <div>Monthly</div>}
            @if(item.PeriodTag== "D"){
                <div>
                    Daily
                </div>}
        </td>
        <td>
			@item.DateFrom.ToString("dd-MMM-yyyy")
        </td>
        <td>
			@item.DateTo.ToString("dd-MMM-yyyy")
        </td>
          <td>
			@if(item.Criteria=="L")
            {<div>Location</div>}
              @if(item.Criteria=="C")
              {<div>Company</div>}
        </td>
        @*<td>
            @if(item.Criteria=="L")
            {
			@item.Location.LocationID
            }
           
        </td>*@
       
        <td>
            @if(item.ProcessingDone==true)
            {<div>Completed</div>}
            else
            {<div>In Progress</div>}
        </td>
         <td>
            @item.CreatedDate.Value.ToString("dd-MMM-yyyy")
        </td>
        <td>
            @item.User.Name
        </td>
@* <td>
          @Html.ActionLink(" ", "Edit", new { id=item.AttProcesserSchedulerID} , new { @class = "glyphicon glyphicon-pencil btn btn-warning btn-xs btn-EditViewDelete" })
          @Html.ActionLink(" ", "Details", new { id = item.AttProcesserSchedulerID}, new { @class = "glyphicon glyphicon-pencil btn btn-info btn-xs btn-EditViewDelete" }) 
          @Html.ActionLink(" ", "Delete", new { id=item.AttProcesserSchedulerID }, new { @class = "glyphicon glyphicon-trash btn btn-danger btn-xs" })
          </td>*@
    </tr>
}

</table>
</div>
</div>



