 @model WMS.Models.LvApplication

@{
    ViewBag.Title = "Create";
}

<div>
      <form class ="form-inline" role="form">
          <div class="form-group "> <h3>Add Leave Application</h3> </div>
      </form>  
</div>
 <hr />
<article class="row">
 <div class="well bs-component">
        <form class="form-horizontal" action="~/LvApp/Create" enctype="multipart/form-data" method="post">
            <fieldset>
@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()

<section class="col-md-8">
    <div class="form-horizontal">
        @Html.ValidationSummary(true)

         <div class="form-group" id="ByEmpNoDiv">
            <div class="form-inline">
               <label class="control-label col-md-2">Emp No</label>
                <div class="col-lg-9 col-md-9 col-sm-9">
                    <div class="input-group">
                        <input  autofocus id="EmpNo" name="EmpNo" type="text" class="form-control" placeholder="EMP-00001"/>
                        <span class="input-group-btn">
                            <input type='button' id="buttonId" name="buttonId" value="Search"  class="btn btn-secondary"/>​ 
                        </span>
                    </div>
                </div>
            </div>

         </div>

        <div class="form-group">
            <label class="control-label col-md-2">Leave Type</label>
            <div class="col-md-4">
                @Html.DropDownList("LeaveTypeID",null,new { @class = "btn btn-default dropdown-toggle dropdown ComboBoxWidth"})
                @Html.ValidationMessageFor(model => model.LeaveTypeID)
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">From Date</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.FromDate,@DateTime.Today.ToString("dd-MMM-yyyy"))
                @Html.ValidationMessageFor(model => model.FromDate)
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">To Date</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.ToDate)
                @Html.ValidationMessageFor(model => model.ToDate)
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Half Leave</label>
            <div class="col-md-10">
                @Html.DropDownList("IsHalf", new List<SelectListItem>
                                    { 
                                        new SelectListItem { Text = "No", Value = "false", Selected=true},
                                        new SelectListItem { Text = "Yes", Value = "true"}
                                    },new { @class = "btn btn-default dropdown-toggle dropdown ComboBoxWidth"}) 
                @Html.ValidationMessageFor(model => model.IsHalf)
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Time</label>
            <div class="col-md-10">
                @Html.DropDownList("FirstHalf", new List<SelectListItem>
                                    { 
                                        new SelectListItem { Text = "Second Half", Value = "false", Selected=true},
                                        new SelectListItem { Text = "First Half", Value = "true"}
                                    },new { @class = "btn btn-default dropdown-toggle dropdown ComboBoxWidth"}) 
                @Html.ValidationMessageFor(model => model.FirstHalf)
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Leave Reason</label>
            <div class="col-md-6">
                @Html.TextArea("LvReason", null, new { cols = "80", rows = "2",@class = "form-control" })
                @Html.ValidationMessageFor(model => model.LvReason)
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Address during leave</label>
            <div class="col-md-6">
                @*@Html.EditorFor(model => model.LvAddress)*@
                @Html.TextArea("LvAddress", null, new { cols = "80", rows = "2",@class = "form-control" })
                @Html.ValidationMessageFor(model => model.LvAddress)
            </div>
        </div>

         <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default btn-success" />
                 @Html.ActionLink("Back to List", "Index",null,new { @class = "btn btn-primary " })
             </div>
        </div>
    </div>
</section>
}
<section class="col-md-4" style="height:620px;">
   <div class="list-group">                   
                    <a  class="list-group-item">
                        <h4 class="list-group-item-heading">Employee Information</h4>
                        <p id="ELName" class="list-group-item-text EmpInfoSecondaryMargin"></p>
                        <p id="ELDesignation" class="list-group-item-text EmpInfoSecondaryMargin"></p>
                        <p id="ELSection" class="list-group-item-text EmpInfoSecondaryMargin"></p>
                        <p id="ELType" class="list-group-item-text EmpInfoSecondaryMargin"></p>
                        <p id="ELJoin" class="list-group-item-text EmpInfoSecondaryMargin"></p>
                    </a>
                    <a class="list-group-item">
                        <h4 class="list-group-item-heading">Employee Leaves Balances</h4>
                        <p id="ELBCasual" class="list-group-item-text EmpInfoSecondaryMargin"></p>
                        <p id="ELBAnnual" class="list-group-item-text EmpInfoSecondaryMargin"></p>
                        <p id="ELBSick" class="list-group-item-text EmpInfoSecondaryMargin"></p>
                        <p id="ELBCPL" class="list-group-item-text EmpInfoSecondaryMargin"></p>
                    </a>
                </div>
    </section>
                </fieldset>
            </form>
     </div>
    </article>
<style>
    #FromDate
    {
        width:200px;
    }
    #ToDate
    {
        width:200px;
    }
</style>
<script src="~/Scripts/LvAppLoadEmpInfo.js" type="text/javascript"></script>
