@model WMS.Models.LvApplication

@{
    ViewBag.Title = "Delete";
}
<style>  
 dd,dt {
    margin-bottom: 5px;
}
</style>
<h3>Are you sure you want to disable this Leave?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Leave Enter Date
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LvDate)
        </dd>

        <dt>
            Employee No
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Emp.EmpNo)
        </dd>

        <dt>
            Employee Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Emp.EmpName)
        </dd>

        <dt>
            Department
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Emp.Section.Department.DeptName)
        </dd>

        <dt>
            Section
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Emp.Section.SectionName)
        </dd>

        <dt>
            Leave Type
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LvType1.LvDesc)
        </dd>
        <dt>
            From Date
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FromDate)
        </dd>

        <dt>
            To Date
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ToDate)
        </dd>

        <dt>
            No Of Days
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoOfDays)
        </dd>

        <dt>
            Half Leave
        </dt>

        <dd>
           @if (Model.IsHalf == true)
                {
                    <div>Yes</div>
                }
                else
                {
                    <div>No</div>
                }
        </dd>

        <dt>
            Leave Reason
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LvReason)
        </dd>

        <dt>
            Address during Leave
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LvAddress)
        </dd>

        <dt>
            Created By
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>
        <dd>
       </dd>

    </dl>
        @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
       <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" />  
            @Html.ActionLink("Back to List", "Index",null,new { @class = "btn btn-primary " })
        </div>
    }

</div>
