@model WMS.Models.AttData
@{
    ViewBag.Title = "EditAttWizardOne";
}



<script type="text/javascript">
    $(function () {
        $('.focus :input').focus();
    });
</script>

@using (Html.BeginForm("EditAttWizardData", "EditAttendance", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="row">
<div class="col-md-8">
    <h3>Edit Attendance for  Date:@(" " + Model.AttDate.Value.ToString("dd-MMM-yyyy"))</h3>
</div>
    <div class="col-md-4">
        <div style="margin-top:20px" class="pull-right">
        @Html.ActionLink("Previous Date", "PreviousEntry",null, new { @class = "btn btn-danger btn-sm " }) 
            @Html.ActionLink("Next Date", "NextEntry",null, new { @class = "btn btn-success btn-sm " }) 
            </div>
    </div>
</div>
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.EmpDate)
        <div>
            <h5 style="font-weight:bold">
                <input type="hidden" id="Attdate" name="Attdate" value="@Model.AttDate.Value.ToString()"/>           
            </h5>
        </div>
        <section class="row">
        <div class="col-md-6">
            <h4 style="margin-bottom:20px;">Old Attendance Details</h4>
            <div class="row">
            <div class="col-md-3">
                Employee No:
            </div>
            <div class="col-md-4">
                @Model.EmpNo
            </div>
            @*<div class="col-md-10">
                @Html.EditorFor(model => model.EmpNo)
                @Html.ValidationMessageFor(model => model.EmpNo)
            </div>*@
          </div>
            <div class="row">
            <div class="col-md-3">
                Employee Name:
            </div>
            <div class="col-md-4">
                @Model.Emp.EmpName
            </div>
            @*<div class="col-md-10">
                @Html.EditorFor(model => model.EmpNo)
                @Html.ValidationMessageFor(model => model.EmpNo)
            </div>*@
        </div>
            <div class="row">
            <div class="col-md-3">
                Designation:
            </div>
            <div class="col-md-4">
                @Model.Emp.Designation.DesignationName
            </div>
            @*<div class="col-md-10">
                @Html.EditorFor(model => model.EmpNo)
                @Html.ValidationMessageFor(model => model.EmpNo)
            </div>*@
        </div>
            <div class="row">
            <div class="col-md-3">
                Section:
            </div>
            <div class="col-md-4">
                @Model.Emp.Section.SectionName
            </div>
        </div>
            <div class="row">
            <div class="col-md-3">
                Duty Code:
            </div>
            <div class="col-md-4">
                @Model.DutyCode
            </div>
        </div>
            <div class="row">
            <div class="col-md-3">
                Duty Time:
            </div>
            <div class="col-md-4">
                @Model.DutyTime
            </div>
        </div>
            <div class="row">
            <div class="col-md-3">
                Time In: 
            </div>
            <div class="col-md-4">
                @if (Model.TimeIn != null)
                {
                    @Model.TimeIn.Value.ToString("HH:mm")
                }
                else
                {
                     <span>00:00</span>
                }
                
            </div>
        </div>
            <div class="row">
                <div class="col-md-3">
                    Time Out:
                </div>
                <div class="col-md-4">
                    @if (Model.TimeOut != null)
                    {
                        @Model.TimeOut.Value.ToString("HH:mm")
                    }
                    else
                    {
                        <span>00:00</span>
                    }
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    Work Time:
                </div>
                <div class="col-md-4">
                    @ViewBag.WorkMin
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    GZ - OT:
                </div>
                <div class="col-md-4">
                    @ViewBag.GZOT
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    Overtime:
                </div>
                <div class="col-md-4">
                    @ViewBag.OT
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    Early In:
                </div>
                <div class="col-md-4">
                    @ViewBag.EarlyIn
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    Early Out:
                </div>
                <div class="col-md-4">
                    @ViewBag.EarlyOut
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    Late In:
                </div>
                <div class="col-md-4">
                    @ViewBag.LateIn
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    Late Out:
                </div>
                <div class="col-md-4">
                    @ViewBag.LateOut
                </div>
            </div>
            <div class="row">
            <div class="col-md-3">
                Remarks:
            </div>
            <div class="col-md-4">
                @Model.Remarks
            </div>
        </div><hr />
            <h4>Device Data</h4>
            <section class="row">
                @if (ViewBag.PollsDataIn != null)
                {
                <div class="col-md-4">
                     @foreach (var item in ViewBag.PollsDataIn) {
                        <div class="row">
                        <div class="col-md-6">
                            Time In:
                        </div>
                        <div class="col-md-6">
                            @item.EntTime.TimeOfDay.ToString()
                            <div class="label label-success">
                                @item.Reader.RdrName
                            </div>
                        </div>
                        </div>  
                    }
                    
                </div>
                    }
                    @if( ViewBag.PollsDataOut != null)
                    {
                <div class="col-md-6">
                    
                    @foreach (var item in ViewBag.PollsDataOut) {
                        <div class="row">
                        <div class="col-md-4">
                            Time Out:
                        </div>
                        <div class="col-md-8">
                            @item.EntTime.TimeOfDay.ToString()
                            <div class="label label-primary">
                                @item.Reader.RdrName
                            </div>
                        </div>
                        </div>  
                    }
                </div>
                }
                 
            </section>
           
        </div>
            <div class="col-md-6">
            <h4 style="margin-bottom:20px;">Enter New Time In and Out</h4>
             <div class="form-group">
                <div class="col-md-2">
                    Duty Time
                </div>
                <div class="col-md-2">
                     @if (Model.DutyTime != null)
                {
                    <input type="text" step="1" max= "2400" min= "0" id="DutyTime" name="DutyTime" class="form-control" value="@Model.DutyTime.Value.ToString()">
                }
                else
                {
                    <input type="text" step="1" max= "2400" min= "0" id="DutyTime" name="DutyTime" class="form-control" value="00:00:00">
                }
                        
                </div>
             </div>
             <div class="form-group">
                <div class="col-md-2">
                    Time In
                </div>
                <div class="focus col-md-2">
                     @if (Model.TimeIn != null)
                {
                    <input type="number" step="1" max= "2400" min= "0" id="Inhours" name="Inhours" class="form-control" value="@Model.TimeIn.Value.ToString("HHmm")">
                }
                else
                {
                   <input type="number" step="1" max= "2400" min= "0" id="Inhours" name="Inhours" class="form-control" value="0000">
                }
                </div>
             </div>
            <div class="form-group">
                <div class="col-md-2">
                    Time Out
                </div>
                <div class="col-md-2">
                    @*@Html.Editor("OutHour")*@
                     @if (Model.TimeOut != null)
                {
                    <input type="number" step="1" max= "2400" min= "0" id="OutHour" name="OutHour" class="form-control"value="@Model.TimeOut.Value.ToString("HHmm")">
                }
                else
                {
                   <input type="number" step="1" max= "2400" min= "0" id="OutHour" name="OutHour" class="form-control"value="0000">
                }
                    
                </div>
             </div>
            <div class="form-group">
                <div class="col-md-2">
                    Duty Code
                </div>
                <div class="col-md-4">
                    @Html.DropDownList("NewDutyCode", new List<SelectListItem>
                    { new SelectListItem { Text = "Duty", Value = "D"}, new SelectListItem { Text = "GZ Holiday", Value = "G"}, new SelectListItem { Text = "Rest", Value = "R"}
                        }, new { @class = "btn btn-default dropdown-toggle dropdown ComboBoxWidthSmall" }) 
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-2">
                    <input type="checkbox"name="checkShiftMin" id="checkShiftMin" onclick="enable_text()" >Shift Minutes
                </div>
                <div class="col-md-2">
                    @*@Html.Editor("OutHour")*@
                @if (Model.ShifMin != null)
                {
                    <input type="number" step="1" max= "800" min= "0" id="ShiftMin" name="ShiftMin" class="form-control"value="@Model.ShifMin.Value">
                    <input type="hidden" step="1" max= "800" min= "0"  id ="ShiftMinHidden" name="ShiftMinHidden" class="form-control"value="@Model.ShifMin.Value">
                }
                else
                {
                   <input type="number"  min= "0" id="ShiftMin" name="ShiftMin" class="form-control"value="0">
                    <input type="hidden"  id="ShiftMinHidden" name="ShiftMinHidden" class="form-control"value="0">
                }
                </div>
             </div>
             <div class="form-group">
                <div class="col-md-2">
                    Remarks
                </div>
                <div class="col-md-2">
                        <input type="text" id="NewRemarks" name="NewRemarks" class="form-control">
                </div>
             </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-sm btn-success" />
                    <a href="~/EditAttendance" class="btn btn-sm btn-warning">Back</a>
                </div>
            </div>
            <p style="color:green; font-size:15px;">@ViewBag.SucessMessage</p>
        </div>
        </section>
    </div>
    <div>

</div>
}

<script type="text/javascript">
    jQuery(function ($) {
        $("#date1").mask("99/99/9999", { placeholder: "mm/dd/yyyy" });
        $("#phone").mask("(999) 999-9999");
        $("#tin").mask("99-9999999");
        $("#ssn").mask("999-99-9999");
    });
</script>
<script type="text/javascript">
    jQuery(function ($) {
        $("#LastPost").mask("99/99/9999");
    });
    $('#ShiftMin').change(function () {
        document.getElementById("ShiftMinHidden").value = document.getElementById("ShiftMin").value;
    });
    document.getElementById("ShiftMin").disabled = true;
    function enable_text() {
        if (document.getElementById("checkShiftMin").checked == true)
            document.getElementById("ShiftMin").disabled = false;
        else
            document.getElementById("ShiftMin").disabled = true;
    }
</script>